<head>
    <meta charset="utf-8">
    <title>{{titleName}}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- JQuery Libraries Stylesheet -->
    <link href="{{ url_for('static', filename='css/owl.carousel.min.css') }}" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="{{ url_for('static', filename='icon/fontawesome/css/all.css') }}" rel="stylesheet">
    <!-- <link href="{{ url_for('static', filename='icon/bootstrap-icons-1.11.3/font/bootstrap-icons.min.css') }}" rel="stylesheet"> -->

    <!-- Bootstrap Stylesheet -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Customized Stylesheet -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
