<style>
  .admin-del-confirm .modal-header{
    background: #dc3545;
    color: #fff;
    font-weight: 600;
  }
  .admin-del-confirm  .modal-title {
    font-weight: 600;
  }
  .admin-del-confirm .modal-content .del-close {
    color: #fff;
    cursor: pointer;
    transition: color 0.4s, transform 0.4s;
  }
  .admin-del-confirm  .modal-content .del-close:hover {
    transform: scale(1.2);
  }
  .admin-del-confirm  .modal-body {
    padding: 2.5rem 0 1.5rem 0;
    font-size: 1.2rem;
    text-align: center;
    border: none;
    color: #797474f1;
  }
  .admin-del-confirm  .btn-primary {
    background-color:  #3399ff;
    border-color: #3399ff;
  }
</style>


<div class="modal fade admin-del-confirm" id="{{modal_id}}" tabindex="-1"  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 mx-auto">
          <i class="fas fa-trash" style="color: #fff;padding-right:.3rem;"></i>
          {{title}}
        </h1>
        <i data-bs-dismiss="modal" class="del-close fas fa-times fa-lg"></i>
      </div>
      <div class="modal-body">{{msg}}</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Confirm</button>
      </div>
    </div>
  </div>
</div>