<!-- Sidebar -->
<div class="sidebar border-end">
    <!-- Sidebar header with logo -->
    <div class="sidebar-header border-bottom">
      <h1>Fresh Harvest</h1>
    </div>

    <!-- Sidebar links -->
    <a href="{{ url_for('admin') }}" class="{% if is_dashboard %}is_active{% endif %}">
      <i class="fas fa-tachometer-alt"></i>
      <span>Dashboard</span>
      <span class="badge badge-sm bg-info">NEW</span>
    </a>
    <a href="{{ url_for('profileEmployee') }}" class="{% if is_profile %}is_active{% endif %}">
      <i class="fas fa-user"></i> <span>Profile</span>
    </a>
    <a href="{{ url_for('manageProduct') }}" class="{% if is_manageProduct %}is_active{% endif %}">
      <i class="fas fa-user"></i> <span>Products</span>
    </a>
    <a href="{{ url_for('adminAction') }}" class="{% if is_action %}is_active{% endif %}">
      <i class="fas fa-tools"></i> <span>Admin Actions</span>
    </a>
    <a href="{{ url_for('adminProfiles',profile_type='Consumer') }}">
      <i class="fas fa-tools"></i> <span>Manage Consumer</span>
    </a>
    
    <li class="nav-item">
      <a class="nav-link text-white-50" data-bs-toggle="collapse" href="#contentManagement" role="button" aria-expanded="false" aria-controls="contentManagement">
        <div class="d-flex align-items-center">
          <i class="me-3 bi bi-house-gear-fill"></i>
          Manage Employee
          <i 
            class="bi bi-chevron-down ms-auto"
            {% if manage_tutor_schedules or manage_workshops or manage_lesson_types or manage_schedule or manager_workshop_lesson or manage_locations or manage_price %}
              style="transform: rotate(180deg)"
            {% endif %}
          ></i>
        </div>
      </a>
      <div
        class="collapse 
          {% if manage_tutor_schedules or manage_workshops or manage_lesson_types or manage_schedule or manager_workshop_lesson or manage_price or manage_locations %}
            show
          {% endif %}"
        id="contentManagement"
      >
        <ul class="nav flex-column ms-4">
          <li class="nav-item">
            <a 
              href="{{ url_for('adminProfiles',profile_type='Staff') }}"
              class="nav-link nav-sub {% if manager_workshop_lesson %}text-white{% else %}text-white-50{% endif %}"
              aria-current="page"
            >
            Staff</a>
          </li>
          <li class="nav-item">
            <a
              href="{{ url_for('adminProfiles',profile_type='Local_Manager') }}"
              class="nav-link nav-sub {% if manage_lesson_types %}text-white{% else %}text-white-50{% endif %}"
            >Local Manager</a>
          </li>
        </ul>
      </div>
    </li>
    
</div>