<style>
  .sidebar {
      width: 250px;
  }
  .sidebar .nav-item .nav-link {
      padding-left: 20px; /* Adjust as needed */
  }
  .sidebar .nav-item .nav-link.nav-sub {
      padding-left: 40px; /* Indent sub-menu items */
  }
  .sidebar .nav-link {
      display: flex;
      align-items: center;
  }
  .sidebar .nav-link i {
      margin-right: 10px; /* Space between icon and text */
  }
</style>

<!-- Sidebar -->
<div class="sidebar border-end">
    <!-- Sidebar header with logo -->
    <div class="sidebar-header border-bottom">
      <h1>Fresh Harvest</h1>
    </div>

    <!-- Sidebar links -->
    <a href="{{ url_for('admin') }}" class="{% if is_dashboard %}is_active{% endif %}">
      <i class="fas fa-tachometer-alt"></i>
      <span>Dashboard</span>
      <span class="badge badge-sm bg-info">NEW</span>
    </a>
    <a href="{{ url_for('profileEmployee') }}" class="{% if is_profile %}is_active{% endif %}">
      <i class="fas fa-id-card"></i> <span>Profile</span>
    </a>
    <a href="{{ url_for('manageProduct') }}" class="{% if is_manageProduct %}is_active{% endif %}">
      <i class="fas fa-boxes"></i> <span>Products</span>
    </a>
    {% if session.type != 'Staff' %}
    <a href="{{ url_for('manageDiscount') }}" class="{% if is_manageDiscountProduct %}is_active{% endif %}">
      <i class="fa fa-tags"></i> Manage Discounts
    </a>
    <a href="{{ url_for('adminAction') }}" class="{% if is_action %}is_active{% endif %}">
      <i class="fas fa-tools"></i> <span>Admin Actions</span>
    </a>
    {% endif %}
    <a href="{{ url_for('adminProfiles',profile_type='Consumer') }}" class="{% if is_consumerList %}is_active{% endif %}">
      <i class="fas fa-users"></i> <span>Manage Consumer</span>
    </a>
    {% if session.type != 'Staff' %}
    <a href="{{ url_for('adminProfiles',profile_type='Employee') }}" class="{% if is_employeeList %}is_active{% endif %}">
      <i class="fas fa-users-cog"></i> <span>Manage Employee</span>
    </a>
    {% endif %}    
</div>