<!-- Sidebar -->
<div class="sidebar border-end">
    <!-- Sidebar header with logo -->
    <div class="sidebar-header border-bottom">
      <h1>Fresh Harvest</h1>
    </div>

    <!-- Sidebar links -->
    <a href="{{ url_for('admin') }}" class="{% if is_dashboard %}is_active{% endif %}">
      <i class="fas fa-tachometer-alt"></i>
      <span>Dashboard</span>
      <span class="badge badge-sm bg-info">NEW</span>
    </a>
    <a href="{{ url_for('profileEmployee') }}" class="{% if is_profile %}is_active{% endif %}">
      <i class="fas fa-user"></i> <span>Profile</span>
    </a>
    <a href="{{ url_for('manageProduct') }}" class="{% if is_manageProduct %}is_active{% endif %}">
      <i class="fas fa-user"></i> <span>Products</span>
    </a>
    <a href="{{ url_for('adminAction') }}" class="{% if is_action %}is_active{% endif %}">
      <i class="fas fa-tools"></i> <span>Admin Actions</span>
    </a>
    <a href="{{ url_for('admin_profile_list') }}" class="{% if is_profilelist %}is_active{% endif %}">
      <i class="fas fa-tools"></i> <span>Manage Customer</span>
    </a>
</div>