{% extends "_consumer-base.html" %}

{% block title %}About Us{% endblock %}

{% block navbar %}
  {% with is_about='1' %}
    {% include "components/layout/header/Nav1.html" %}
  {% endwith %}
{% endblock %}

{% block breadcrumb %}
  {% with pageName='About' %}
    {% include "components/layout/Breadcrumb1.html" %}
  {% endwith %}
{% endblock %}


{% block content %}
<section>
    <!-- about Start -->
    <div class="container-fluid py-5">
        <div class="container py-5 text-center">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <h1 class="mb-4 fw-bold" style="margin: 3rem auto 3rem auto !important">About Us</h1>
                    <p class="mb-4" style="text-align: justify;">Welcome to Fresh Harvest Delivery, your one-stop online destination for fresh and high-quality fruit and vegetables delivered straight to your doorstep. At Fresh Harvest Delivery, we are dedicated to revolutionizing your shopping experience with our upgraded Produce and Order Management System.</p>
                    <p class="mb-4" style="text-align: justify;">Our user-friendly webside showcases a wide range of individual products available for sale, including succulent fruits, crisp vegetables, aromatic fresh herbs, vibrant salads, farm-fresh eggs, and delicious honey. Whether you prefer ordering by bunches, weights, each, half size, punnet, or tray, we've got you covered. You can even create your custom order or opt for our convenient premade boxes in veg, fruit, or mixed varieties, available in large, medium, or small sizes. Our boxes can be purchased as a one-time treat or subscribed to on a weekly, fortnightly, or monthly basis, making your healthy eating habits a seamless part of your routine.</p>
                    <p class="mb-4" style="text-align: justify;">Seasonal availability dictates what produce is available for individual sale and included in our subscription boxes, ensuring you always receive the freshest and finest offerings. Our deliveries span across five depots in Christchurch, Invercargill, Wellington, Hamilton, and Auckland, serving the local metropolitan areas with efficiency and promptness.</p>
                    <p class="mb-4" style="text-align: justify;">Our dedicated staff members ensure that every aspect of your Fresh Harvest Delivery experience is top-notch. From adding new products and managing inventory to handling customer inquiries and processing orders, our team is committed to delivering excellence. Our local managers oversee day-to-day operations, ensuring that each depot runs smoothly and efficiently. They also curate the contents of our premade boxes weekly and manage promotional activities to keep things exciting for our customers.</p>
                    <p class="mb-4" style="text-align: justify;">But we don't stop there! Fresh Harvest Delivery is constantly innovating to enhance your experience. Our system boasts additional features like a points rewards-based system, personalized news updates, and comprehensive reporting tools to provide insights into customer preferences and behavior.</p>
                    <p class="mb-4" style="text-align: justify;">Join us at Fresh Harvest Delivery and experience a new era of convenience, quality, and freshness in every delivery.</p>
                </div>

                <div id="policy" class="col-lg-10" >
                  <h1 class="mb-4 fw-bold" style="margin: 3rem auto 3rem auto !important">Privacy Policy</h1>
                  <p class="mb-4" style="text-align: justify;">At Fresh Harvest Delivery, we are committed to protecting the privacy and security of your personal information. This Privacy Policy outlines how we collect, use, disclose, and protect your information when you use our website and services.</p>
                  <p class="mb-4 fw-bold" style="text-align: justify;">Information Collection</p>
                  <p class="mb-4" style="text-align: justify;">We collect personal information such as your name, address, email, and payment details when you register an account, place an order, or communicate with us. We also collect information about your orders, preferences, and interactions with our website.</p>
                  <p class="mb-4 fw-bold" style="text-align: justify;">Use of Information</p>
                  <p class="mb-4" style="text-align: justify;">We use your information to process orders, deliver products, communicate with you about your orders and account, and provide customer support. Your information may also be used for marketing purposes, such as sending promotions, offers, and newsletters, but you can opt out of these communications at any time.</p>
                  <p class="mb-4 fw-bold" style="text-align: justify;">Disclosure of Information</p>
                  <p class="mb-4" style="text-align: justify;">We may share your information with third-party service providers who assist us in operating our website, processing payments, delivering orders, and providing customer support. These providers are required to protect your information and use it only for the purposes we specify.</p>
                  <p class="mb-4 fw-bold" style="text-align: justify;">Data Security</p>
                  <p class="mb-4" style="text-align: justify;">We take security measures to protect your information against unauthorized access, alteration, disclosure, or destruction. However, no method of transmission over the internet or electronic storage is 100% secure, so we cannot guarantee absolute security.</p>
                  <p class="mb-4 fw-bold" style="text-align: justify;">Account Management</p>
                  <p class="mb-4" style="text-align: justify;">You can manage your account information, including updating your details and preferences, modifying or canceling orders, and viewing order history and receipts, by logging into your account on our website.</p>
                  <p class="mb-4 fw-bold" style="text-align: justify;">Cookies and Tracking Technologies</p>
                  <p class="mb-4" style="text-align: justify;">We use cookies and similar tracking technologies to enhance your browsing experience, analyze website traffic, and personalize content and ads. You can adjust your browser settings to disable cookies, but this may affect certain functionalities of our website.</p>
                  <p class="mb-4 fw-bold" style="text-align: justify;">Children's Privacy</p>
                  <p class="mb-4" style="text-align: justify;">Our website and services are not directed to children under 13 years old. We do not knowingly collect personal information from children, and if we become aware of such information being collected, we will take steps to delete it.</p>
                  <p class="mb-4 fw-bold" style="text-align: justify;">Changes to Privacy Policy</p>
                  <p class="mb-4" style="text-align: justify;">We may update this Privacy Policy from time to time, and any changes will be reflected on this page. We encourage you to review this policy periodically for updates.</p>
                  <p class="mb-4 fw-bold" style="text-align: justify;">Contact Us</p>
                  <p class="mb-4" style="text-align: justify;">If you have any questions, concerns, or requests regarding your privacy or this Privacy Policy, please contact us at <a href="mailto:contact@freshharvestdelivery.co.nz">contact@freshharvestdelivery.co.nz</a>.</p>
                </div>

                <div id="terms" class="col-lg-10">
                  <h1 class="mb-4 fw-bold" style="margin: 3rem auto 3rem auto !important">Terms & Condition</h1>
                  <p class="mb-4" style="text-align: justify;">
                      These Terms and Conditions govern your use of our website and services. By accessing or using our platform, you agree to comply with these terms. Please read them carefully.
                  </p>
                  <p class="mb-4 fw-bold" style="text-align: justify;">Definitions</p>
                  <p class="mb-4" style="text-align: justify;">
                      "Fresh Harvest Delivery," "we," "our," or "us" refers to our online platform and services.
                      "Customer," "you," or "your" refers to anyone accessing or using our platform.
                      "Account holders" include commercial entities such as cafes and restaurants.
                      "Staff" refers to employees and managers associated with Fresh Harvest Delivery.
                  </p>

                  <p class="mb-4 fw-bold" style="text-align: justify;">Account Creation and Management</p>
                  <p class="mb-4" style="text-align: justify;">
                      Customers may create accounts to place orders, manage subscriptions, and access personalized features.
                      Account holders are subject to approval by Fresh Harvest Delivery.
                      You are responsible for maintaining the confidentiality of your account credentials.
                      Account holders can manage their credit limits, view remaining balances, and apply for limit increases.
                  </p>
          
                  <p class="mb-4 fw-bold" style="text-align: justify;">Contact Us</p>
                  <p class="mb-4" style="text-align: justify;">
                      If you have any questions or concerns regarding these Terms and Conditions, please contact us at <a href="mailto:contact@freshharvestdelivery.co.nz">contact@freshharvestdelivery.co.nz</a>.
                  </p>
                </div>

                <div id="returns" class="col-lg-10">
                  <h1 class="mb-4 fw-bold" style="margin: 3rem auto 3rem auto !important">Return Policy</h1>

                  <div class="mb-4" style="text-align: justify;">
                    <p class="mb-4 fw-bold" style="text-align: justify;">Eligibility for Returns:</p>
                    <ul>
                        <li>Items eligible for return include:</li>
                        <ul>
                            <li>Produce or products that are damaged or spoiled upon delivery.</li>
                            <li>Incorrect items delivered that do not match your order.</li>
                            <li>Items with quality issues that do not meet our standards.</li>
                        </ul>
                        <li>Please note that due to the perishable nature of our products, we may not be able to accept returns for items that have been opened or used unless they meet the criteria mentioned above.</li>
                    </ul>
                  </div>
            
                  <div class="mb-4" style="text-align: justify;">
                      <p class="mb-4 fw-bold" style="text-align: justify;">Initiating a Return:</p>
                      <ul>
                          <li>To initiate a return, please contact our customer support team within 3 days of receiving your order. You can reach us via <a href="mailto:contact@freshharvestdelivery.co.nz">contact@freshharvestdelivery.co.nz</a>.</li>
                          <li>Please provide your order number, details of the item(s) you wish to return, and a brief description of the issue.</li>
                      </ul>
                  </div>
              
                  <div class="mb-4" style="text-align: justify;">
                      <p class="mb-4 fw-bold" style="text-align: justify;">Return Process:</p>
                      <ul>
                          <li>Once your return request is approved, we will arrange for the pickup of the item(s) at a convenient time.</li>
                          <li>Please ensure that the item(s) are securely packaged for return to prevent any further damage during transit.</li>
                          <li>Upon receiving the returned item(s), we will inspect them to verify eligibility for a refund or replacement.</li>
                      </ul>
                  </div>
              
                  <div class="mb-4" style="text-align: justify;">
                      <p class="mb-4 fw-bold" style="text-align: justify;">Refund or Replacement:</p>
                      <ul>
                          <li>If your return is approved, you may choose between a refund to your original payment method or a replacement of the item(s) with a fresh delivery.</li>
                          <li>Refunds will be processed within 7 business days after the return is received and approved.</li>
                      </ul>
                  </div>
              
                  <div class="mb-4" style="text-align: justify;">
                      <p class="mb-4 fw-bold" style="text-align: justify;">Exceptions and Special Cases:</p>
                      <ul>
                          <li>In certain circumstances, such as seasonal availability or limited stock, we may offer alternative solutions or credits towards future purchases.</li>
                          <li>Gift card purchases are non-refundable but can be used towards any future orders.</li>
                      </ul>
                  </div>
              
                  <div class="mb-4" style="text-align: justify;">
                      <p class="mb-4 fw-bold" style="text-align: justify;">Customer Satisfaction Guarantee:</p>
                      <p>We value your satisfaction and strive to make every experience with Fresh Harvest Delivery exceptional. If you have any feedback or concerns regarding your order, please don't hesitate to contact us. We are here to assist you and ensure your complete satisfaction.</p>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about End -->
</section>
{% endblock %}