{% extends "_employee-base.html" %}


{% block sidebar %}
  {% if profile_type == 'Consumer' %}
    {% with is_consumerList='1' %}
      {% include "components/layout/Sidebar.html" %}
    {% endwith %}
  {% else %}
    {% with is_employeeList='1' %}
      {% include "components/layout/Sidebar.html" %}
    {% endwith %}
  {% endif %}
{% endblock %}


{% block breadcrumb %}
  {% with pageName=profile_type + ' List' %}
    {% include "components/layout/Breadcrumb2.html" %}
  {% endwith %}
{% endblock %}

{% block content %}

<!-- Main content -->
<section class="main-content">
  <div class="col text-center">
  <h1>{% if profile_type == "Staff" %}Consumer{% else %}Employee{% endif %} List</h1>
  </div>

  <div class="row justify-content-end">
    <div class="col-auto">
        <form id="searchForm" class="d-flex me-5 mb-4" role="search">
          {% if profile_type == "Staff" %}
            <label for="filterBy" class="form-label me-2" style="white-space: nowrap; vertical-align: middle; margin-top: 5px;">User type:</label>
            <select class="form-select me-2" name="filterBy" aria-label="Filter by">
                <option value="all">All</option>
                <option value="Residential">Residential</option>
                <option value="Business">Business</option>
            </select>
          {% endif %}
            <input class="form-control me-2" name="searchBy" type="search" placeholder="Search for name" style="width: 200px;" aria-label="Search" required>
            <button class="btn" type="submit"><i class="fas fa-search fa-lg me-3 fa-fw"></i></button>
        </form>
    </div>
</div>


{% include "admin_profile_manage.html" %}

</section>
{% endblock %}
