{% extends "_employee-base.html" %}

{% block sidebar %}
  {% with is_dashboard='1' %}
    {% include "components/layout/Sidebar.html" %}
  {% endwith %}
{% endblock %}

{% block breadcrumb %}
  {% with pageName='Page' %}
    {% include "components/layout/Breadcrumb2.html" %}
  {% endwith %}
{% endblock %}

{% block content %}

<!-- Main content -->
<section class="main-content">
  <div class="col text-center">
  <h1>{{profile_type}} List</h1>
  </div>

  <div class="row justify-content-end">
    <div class="col-auto">
      <form id="searchForm" class="d-flex me-5 mb-4" role="search">
        <input class="form-control me-2" name="searchBy" type="search" placeholder="Search for name" aria-label="Search" required>
        <button class="btn" type="submit"><i class="fas fa-search fa-lg me-3 fa-fw"></i></button>
      </form>
    </div>
  </div>

  <div id="profileSearchResults">
    {% include "admin_profile_search.html" %}
  </div>
</section>
{% endblock %}

{% block script %}
  <script>
    let profile_type = "{{ profile_type }}"
    let newUpdateMemberData = {};
    let differentUpdateStaffData = {};

    document.addEventListener('DOMContentLoaded', function () {
      document.getElementById('updateMemberSuccess').addEventListener('hidden.bs.modal', () => location.reload());

      const searchForm = document.getElementById('searchForm');
      const searchResultsContainer = document.getElementById('profileSearchResults');

      searchForm.addEventListener('submit', async function(event) {
        event.preventDefault();

        try {
          const formDataObject = {
            'searchBy': new FormData(searchForm).get('searchBy'),
            'profile_type': profile_type
          };

          const response = await fetch('/profile/search', {
            method: 'POST',
            body: JSON.stringify(formDataObject),
            headers: {
              'Content-Type': 'application/json'
            }
          });

          if (!response.ok) {
            throw new Error('Network response was not ok.');
          }

          const html = await response.text();
          searchResultsContainer.innerHTML = html;
          } catch (error) {
            console.error('Error:', error);
          }
        });

      document.querySelectorAll('.member-update').forEach(function (update) {
        const user_id = update.getAttribute('data-user-id')
        const memberUpdateForm = document.getElementById('updateMemberForm' + user_id);
        const formData = new FormData(memberUpdateForm);
        const formDataObject = Object.fromEntries(formData.entries());

        update.addEventListener('click', function (event) {
          event.preventDefault();

          const btn = memberUpdateForm.querySelector('button[type="submit"]');

          function enableSubmit() {
            btn.classList.remove('disabled');
            btn.classList.replace('btn-secondary', 'btn-primary')
          }

          function disableSubmit() {
            btn.classList.add('disabled');
            btn.classList.replace('btn-primary', 'btn-secondary')
          }

          memberUpdateForm.reset();
          disableSubmit();
          
          memberUpdateForm.addEventListener('input', event => {
            const imgUpdate = document.getElementById('imgUpdate'+ profile_type + user_id);
            if (event.target === imgUpdate && imgUpdate.files.length > 0) {
              const file = imgUpdate.files[0];
              const reader = new FileReader();
              reader.onload = function(e) {
                console.log('imagePreview' + profile_type + user_id)
                const imagePreview = document.getElementById('imagePreview' + profile_type + user_id);
                imagePreview.src = e.target.result;
                console.log(e.target.result)
                differentUpdateStaffData['profile_image'] = e.target.result;
                enableSubmit();
              }
              reader.readAsDataURL(file);
            } else {
            // console.log(event.target.name)
            // console.log(event.target.value)
            const keyName = event.target.name;
            const keyValue = event.target.value;

            newUpdateMemberData[keyName] = keyValue;

            for (const keyName in formDataObject) {
              if (newUpdateMemberData.hasOwnProperty(keyName)) {
                if (formDataObject[keyName] !== newUpdateMemberData[keyName]) {
                  enableSubmit();
                  return
                }
              disableSubmit();
              }
            }
          }

          });
        })

        memberUpdateForm.addEventListener('submit', event => {
          if (!memberUpdateForm.checkValidity()) return // Stop further execution if form is invalid
          event.preventDefault();
          event.stopPropagation();

          for (let key in newUpdateMemberData) {
              if (formDataObject.hasOwnProperty(key) && newUpdateMemberData[key] !== formDataObject[key]) {
                  differentUpdateStaffData[key] = newUpdateMemberData[key];
              }
          }

          differentUpdateStaffData['user_id'] = user_id;
          console.log(differentUpdateStaffData)
          fetch('/profile/update', {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json'
              },
              body: JSON.stringify(differentUpdateStaffData)
          })
          .then(response => response.json())
          .then(data => {
              if (data.status == 1) {
                  // Show updateStaffSuccess modal if update is successful
                  console.log(data)
                  new bootstrap.Modal(document.getElementById('updateMemberSuccess')).show();
              }
              else {
                  // alert("Invalid request");
                  // location.reload(); // Reload the page on failure
              }
          })
          .catch(error => console.error('Error:', error));
        });
      })
    });
  </script>
{% endblock %}
{% extends "_employee-base.html" %}

{% block sidebar %}
  {% with is_dashboard='1' %}
    {% include "components/layout/Sidebar.html" %}
  {% endwith %}
{% endblock %}

{% block breadcrumb %}
  {% with pageName='Page' %}
    {% include "components/layout/Breadcrumb2.html" %}
  {% endwith %}
{% endblock %}

{% block content %}

<!-- Main content -->
<section class="main-content">
  <h1>{{profile_type}} List</h1>
  </div>

  <div class="row justify-content-end">
    <div class="col-auto">
      <form id="searchForm" class="d-flex me-5 mb-4" role="search">
        <input class="form-control me-2" name="searchBy" type="search" placeholder="Search for name" aria-label="Search" required>
        <button class="btn" type="submit"><i class="fas fa-search fa-lg me-3 fa-fw"></i></button>
      </form>
    </div>
  </div>

  <div id="profileSearchResults">
    {% include "admin_profile_search.html" %}
  </div>
</section>
{% endblock %}

{% block script %}
  <script>
    let profile_type = "{{ profile_type }}"
    let newUpdateMemberData = {};
    let differentUpdateStaffData = {};

    document.addEventListener('DOMContentLoaded', function () {
      document.getElementById('updateMemberSuccess').addEventListener('hidden.bs.modal', () => location.reload());

      const searchForm = document.getElementById('searchForm');
      const searchResultsContainer = document.getElementById('profileSearchResults');

      searchForm.addEventListener('submit', async function(event) {
        event.preventDefault();

        try {
          const formDataObject = {
            'searchBy': new FormData(searchForm).get('searchBy'),
            'profile_type': profile_type
          };

          const response = await fetch('/profile/search', {
            method: 'POST',
            body: JSON.stringify(formDataObject),
            headers: {
              'Content-Type': 'application/json'
            }
          });

          if (!response.ok) {
            throw new Error('Network response was not ok.');
          }

          const html = await response.text();
          searchResultsContainer.innerHTML = html;
          } catch (error) {
            console.error('Error:', error);
          }
        });

      document.querySelectorAll('.member-update').forEach(function (update) {
        const user_id = update.getAttribute('data-user-id')
        const memberUpdateForm = document.getElementById('updateMemberForm' + user_id);
        const formData = new FormData(memberUpdateForm);
        const formDataObject = Object.fromEntries(formData.entries());

        update.addEventListener('click', function (event) {
          event.preventDefault();

          const btn = memberUpdateForm.querySelector('button[type="submit"]');

          function enableSubmit() {
            btn.classList.remove('disabled');
            btn.classList.replace('btn-secondary', 'btn-primary')
          }

          function disableSubmit() {
            btn.classList.add('disabled');
            btn.classList.replace('btn-primary', 'btn-secondary')
          }

          memberUpdateForm.reset();
          disableSubmit();
          
          memberUpdateForm.addEventListener('input', event => {
            const imgUpdate = document.getElementById('imgUpdate'+ profile_type + user_id);
            if (event.target === imgUpdate && imgUpdate.files.length > 0) {
              const file = imgUpdate.files[0];
              const reader = new FileReader();
              reader.onload = function(e) {
                console.log('imagePreview' + profile_type + user_id)
                const imagePreview = document.getElementById('imagePreview' + profile_type + user_id);
                imagePreview.src = e.target.result;
                console.log(e.target.result)
                differentUpdateStaffData['profile_image'] = e.target.result;
                enableSubmit();
              }
              reader.readAsDataURL(file);
            } else {
            // console.log(event.target.name)
            // console.log(event.target.value)
            const keyName = event.target.name;
            const keyValue = event.target.value;

            newUpdateMemberData[keyName] = keyValue;

            for (const keyName in formDataObject) {
              if (newUpdateMemberData.hasOwnProperty(keyName)) {
                if (formDataObject[keyName] !== newUpdateMemberData[keyName]) {
                  enableSubmit();
                  return
                }
              disableSubmit();
              }
            }
          }

          });
        })

        memberUpdateForm.addEventListener('submit', event => {
          if (!memberUpdateForm.checkValidity()) return // Stop further execution if form is invalid
          event.preventDefault();
          event.stopPropagation();

          for (let key in newUpdateMemberData) {
              if (formDataObject.hasOwnProperty(key) && newUpdateMemberData[key] !== formDataObject[key]) {
                  differentUpdateStaffData[key] = newUpdateMemberData[key];
              }
          }

          differentUpdateStaffData['user_id'] = user_id;
          console.log(differentUpdateStaffData)
          fetch('/profile/update', {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json'
              },
              body: JSON.stringify(differentUpdateStaffData)
          })
          .then(response => response.json())
          .then(data => {
              if (data.status == 1) {
                  // Show updateStaffSuccess modal if update is successful
                  console.log(data)
                  new bootstrap.Modal(document.getElementById('updateMemberSuccess')).show();
              }
              else {
                  // alert("Invalid request");
                  // location.reload(); // Reload the page on failure
              }
          })
          .catch(error => console.error('Error:', error));
        });
      })
    });
  </script>
{% endblock %}