{% extends "_employee-base.html" %}


{% block sidebar %}
  {% if profile_type == 'Consumer' %}
    {% with is_consumerList='1' %}
      {% include "components/layout/Sidebar.html" %}
    {% endwith %}
  {% else %}
    {% with is_employeeList='1' %}
      {% include "components/layout/Sidebar.html" %}
    {% endwith %}
  {% endif %}
{% endblock %}


{% block breadcrumb %}
  {% with pageName = "Consumer List" if profile_type == "Consumer" else "Employee List" %}
    {% include "components/layout/Breadcrumb2.html" %}
  {% endwith %}
{% endblock %}

{% block content %}

<!-- Main content -->
<section class="main-content">
  <div class="col text-center">
  <h1>{% if profile_type == "Consumer" %}Consumer{% else %}Employee{% endif %} List</h1>
  </div>

    <div class="col-auto">
      <div class="d-flex align-items-center mb-3">
        <div class="col-xl-3">
            <div class="input-group">
                <input type="search" id="searchKeyword" class="form-control p-2" placeholder="search for name" aria-describedby="search-icon-1">
                <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
            </div>
        </div>
        {% if type == 'National_Manager' %}
        <div class="ms-3">
            <select id="depotFilter" class="form-select">
                <option value="">All Depots</option>
                {% for depot in depotList %}
                <option value="{{depot.depot_id}}">{{depot.location}}</option>
                {% endfor %}
            </select>
        </div>
        {% endif %}
    </div>

</div>


{% include "admin_profile_manage.html" %}

</section>
{% endblock %}


{% block script %}
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      document.getElementById('updateProfileSuccessModal').addEventListener('hidden.bs.modal', () => location.reload());
      document.getElementById('addProfileSuccessModal').addEventListener('hidden.bs.modal', () => location.reload());
      document.getElementById('delProfileSuccessModal').addEventListener('hidden.bs.modal', () => location.reload());
      
      
      document.querySelectorAll('.employee-delete').forEach(function (del) {
        const user_id = del.getAttribute('data-user-id');
        const deleteEmployee = document.getElementById('deleteEmployee' + user_id);
        const deleteEmployeeBtn = deleteEmployee.querySelector('button[type="submit"]');
        const loadingModal = new bootstrap.Modal(document.getElementById('loadingModal'));

        deleteEmployeeBtn.addEventListener('click', event => {
          event.preventDefault();
          // event.stopPropagation();

          fetch('/admin/profile/delete', {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json'
              },
              body: JSON.stringify({ 'user_id': user_id })
          })
          .then(response => response.json())
          .then(data => {
              if (data.status == 1) {
                  // Show delProfileSuccessModal modal if update is successful
                  deleteEmployee.style.display = 'none';
                  loadingModal.show();
                  setTimeout(() => {
                    loadingModal.hide();
                    new bootstrap.Modal(document.getElementById('delProfileSuccessModal')).show();
                }, 1000);
              }
              else {
                  alert("Invalid request");
                  // location.reload(); // Reload the page on failure
              }
          })
          .catch(error => console.error('Error:', error));
        });
      })

      document.querySelectorAll('.profile-update').forEach(function (update) {
        const user_id = update.getAttribute('data-profile-id')
        const updateMemberForm = document.getElementById('updateMemberForm' + user_id);

        updateMemberForm.addEventListener('submit', event => {
          if (!updateMemberForm.checkValidity()) return // Stop further execution if form is invalid
          event.preventDefault();
          // event.stopPropagation();
          const formData = new FormData(updateMemberForm);
          // console.log(formData)
          fetch('/admin/profile/update', {
              method: 'POST',
              body: formData
          })
          .then(response => response.json())
          .then(data => {
              if (data.status == 1) {
                  console.log(data.status)
                  // Show updateNewsSuccess modal if update is successful
                  // console.log(data)
                  new bootstrap.Modal(document.getElementById('updateProfileSuccessModal')).show();
              }
              else {
                  alert("Invalid request");
                  // location.reload(); // Reload the page on failure
              }
          })
          .catch(error => console.error('Error:', error));
        });
      })

      document.querySelectorAll('.profile-add').forEach(function (add) {
        const user_id = add.getAttribute('data-profile-id')
        const addMemberForm = document.getElementById('addMemberForm' + user_id);

        addMemberForm.addEventListener('submit', event => {
          if (!addMemberForm.checkValidity()) return // Stop further execution if form is invalid
          event.preventDefault();
          // event.stopPropagation();
          const formData = new FormData(addMemberForm);
          console.log(formData)
          fetch('/admin/profile/add', {
              method: 'POST',
              body: formData
          })
          .then(response => response.json())
          .then(data => {
              if (data.status == 1) {
                  console.log(data.status)
                  // Show updateNewsSuccess modal if update is successful
                  // console.log(data)
                  new bootstrap.Modal(document.getElementById('addProfileSuccessModal')).show();
              }
              else {
                  alert("Invalid request");
                  // location.reload(); // Reload the page on failure
              }
          })
          .catch(error => console.error('Error:', error));
        });
      })

    });
  </script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="offcanvas"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    });
  </script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="modal"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    });
  </script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    document.querySelectorAll('.invoice-status').forEach(function (button) {
      const formId = button.getAttribute('form');
      const form = document.getElementById(formId);

      form.addEventListener('submit', function (event) {
        event.preventDefault(); // 阻止默认表单提交

        const formData = new FormData(form);
        fetch(form.action, {
          method: 'POST',
          body: formData
        })
        .then(response => response.json())
        .then(data => {
          if (data.status === 'success') {
            // 显示成功弹窗
            new bootstrap.Modal(document.getElementById('updateInvoiceSuccessModal')).show();
            setTimeout(() => {
              location.reload(); // 延迟刷新页面以确保用户看到弹窗
            }, 2000); // 2秒后刷新页面
          } else {
            alert('Failed to update. Please try again.');
          }
        })
        .catch(error => console.error('Error:', error));
      });
    });
  });
</script>

<script>

document.addEventListener('DOMContentLoaded', function () {
    const searchKeywordInput = document.getElementById('searchKeyword');
    const depotFilter = document.getElementById('depotFilter');
    const profileTableBody = document.getElementById('profileTableBody');
    const noMessageRow = document.getElementById('noMessage');

    function filterRows() {
        const keyword = searchKeywordInput.value.toLowerCase();
        const selectedDepotId = depotFilter ? depotFilter.value : '';
        const rows = profileTableBody.getElementsByTagName('tr');
        let hasVisibleRows = false;

        Array.from(rows).forEach(row => {
            if (row.id === 'noMessage') return; // Skip the noMessage row

            const userTypeCell = row.getElementsByTagName('td')[1];
            const lastNameCell = row.getElementsByTagName('td')[2];
            const firstNameCell = row.getElementsByTagName('td')[3];
            const lastNameText = lastNameCell.textContent.toLowerCase();
            const firstNameText = firstNameCell.textContent.toLowerCase();
            const depotId = row.getAttribute('data-depot-id');

            const keywords = keyword.split(' ');
            let match = false;

            if (keywords.length > 1) {
                const [firstKeyword, secondKeyword] = keywords;
                match = (lastNameText.includes(firstKeyword) && firstNameText.includes(secondKeyword)) ||
                        (lastNameText.includes(secondKeyword) && firstNameText.includes(firstKeyword));
            } else {
                match = lastNameText.includes(keyword) || firstNameText.includes(keyword);
            }

            if ((selectedDepotId === '' || selectedDepotId === depotId) && match) {
                row.style.display = '';
                hasVisibleRows = true;
            } else {
                row.style.display = 'none';
            }
        });

        noMessageRow.style.display = hasVisibleRows ? 'none' : '';
    }

    searchKeywordInput.addEventListener('input', filterRows);

    if (depotFilter) {
        depotFilter.addEventListener('change', filterRows);
    }

    filterRows(); // Initial call to set the correct state
});

  
  </script>


{% endblock %}