  <div class="row me-5 ms-5">
    <table class="text-center table table-striped table-bordered mb-5">
      <thead>
        <!-- Table header -->
        <tr class="table-primary">
          <th class="text-secondary-emphasis" scope="col">No.</th>
          <th class="text-secondary-emphasis" scope="col">First Name</th>
          <th class="text-secondary-emphasis" scope="col">Last Name</th>
          <th class="text-secondary-emphasis" scope="col">Phone</th>
          <th class="text-secondary-emphasis" scope="col">Depot</th>
          <th class="text-secondary-emphasis" scope="col">Edit</th>
        </tr>
      </thead>
      {% for member in member_list %}
      <tbody>
        <tr>
          <td class="align-middle fw-bold">{{ member[0] }}</td>
          <td class="align-middle">{{ member[1] }}</td>
          <td class="align-middle">{{ member[2] }}</td>
          <td class="align-middle">{{ member[4] }}</td>
          {% if profile_type == 'Consumer' %}
            <td class="align-middle">{{ member[5] }}</td>
          {% elif profile_type == 'Staff' or 'Local_Manager' %}
            <td class="align-middle">{{ member[8] }}</td>          
          {% endif %}
          <td>
            <a class="btn member-update" role="button" data-bs-toggle="offcanvas" data-bs-target="#updateMember{{ member[0] }}" data-user-id="{{ member[0] }}"><i class="fas fa-edit fa-lg me-3 fa-fw"></i></a>
          </td>
        </tr>
      </tbody>

      <div class="offcanvas offcanvas-end w-50" tabindex="-1" id="updateMember{{ member[0] }}" aria-labelledby="updateMemberLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="updateMemberLabel">Update {{profile_type}} Profile</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <form id="updateMemberForm{{ member[0] }}" method="POST" class="needs-validation" novalidate>
            <div class="row">
              <div class="col-md-12 mb-3 d-flex justify-content-center">
                <div class="card shadow-sm" style="width: 8vw;">
                  <label for="imgUpdate{{ profile_type }}{{ member[0] }}">
                    {% if profile_type == 'Consumer' %}
                      <img src="{{ url_for('static', filename='images/' + member[7]) }}" class="card-img-top" id="imagePreview{{ profile_type }}{{ member[0] }}">
                    {% elif profile_type == 'Staff' or 'Local_Manager' %}
                      <img src="{{ url_for('static', filename='images/' + member[5]) }}" class="card-img-top" id="imagePreview{{ profile_type }}{{ member[0] }}">
                    {% endif %}
                  </label>
                  <input class="form-control" type="file" id="imgUpdate{{ profile_type }}{{ member[0] }}" style="display: none;" accept="image/*">
                </div>
              </div>
    
              <div class="col-md-6 mb-3">
                <label class="form-label">First Name</label>
                <input type="text" class="form-control" value="{{ member[1] }}" id="first_name" name="first_name" minlength="1" maxlength="35" pattern="^[a-zA-Z]+$">
                <div class="invalid-feedback">First Name must be letters from a to z</div>
              </div>
              <div class="col-md-6 mb-3">
                <label class="form-label">Last Name</label>
                <input type="text" class="form-control" value="{{ member[2] }}" id="last_name" name="last_name" minlength="1" maxlength="35" pattern="^[a-zA-Z]+$">
                <div class="invalid-feedback">Last Name must be letters from a to z</div>
              </div>
              <div class="col-md-6 mb-3">
                <label class="form-label">Phone</label>
                <input type="text" class="form-control" value="{{ member[4] }}" minlength="7" maxlength="13" id="phone" name="phone">
                <div class="invalid-feedback">The phone number cannot exceed 13 digits</div>
              </div>
              <div class="col-md-6 mb-3">
                <label class="form-label">Address</label>
                <input type="text" class="form-control" value="{{ member[3] }}" id="address" name="address" minlength="2" maxlength="35">
              </div>
              <div class="col-md-6 mb-3">
                <label class="form-label">Depot</label>
                <div class="d-flex align-items-center">
                  <select class="form-control"name="category" id="category">
                    <option value="Christchurch"  {% if member[5]=='Christchurch' %} selected {% endif %}>Christchurch</option>
                    <option value="Invercargill" {% if member[5]=='Invercargill' %} selected {% endif %}>Invercargill</option>
                    <option value="Wellington" {% if member[5]=='Wellington' %} selected {% endif %}>Wellington</option>
                    <option value="Hamilton" {% if member[5]=='Hamilton' %} selected {% endif %}>Hamilton</option>
                    <option value="Auckland" {% if member[5]=='Auckland' %} selected {% endif %}>Auckland</option>
                  </select>
                </div>
              </div>

              {% if profile_type == "Consumer" %}
              <div class="col-md-6 mb-3">
                <label class="form-label">Postcode</label>
                <input class="form-control form-textarea" value="{{ member[6] }}" id="consumer_post" name="consumer_post">
              </div>
              <div class="col-md-6 mb-3">
                <label class="form-label">Regisration date</label>
                <input type="date" class="form-control" value="{{ member[11] }}" id="register_date" name="register_date">
              </div>
              <div class="col-md-6 mb-3">
                <label class="form-label">Last login date</label>
                <input type="text" class="form-control" value="{{ member[12] }}" id="last_login_date" name="last_login_date">
              </div>
              <div class="col-md-6 mb-3">
                <label class="form-label">User type</label>
                <input type="text" class="form-control" value="{{ member[13] }}" id="user_type" name="user_type">
              </div>
                {% if member[13] == "Business" %}
                <div class="col-md-6 mb-3">
                  <label class="form-label">Subscription id</label>
                  <input class="form-control" value="{{ member[8] }}" id="subscription_id" name="subscription_id">
                </div>
                <div class="col-md-6 mb-3">
                  <label class="form-label">Credit available</label>
                  <input class="form-control" value="{{ member[8] }}" id="credit_available" name="credit_available">
                </div>
                <div class="col-md-6 mb-3">
                  <label class="form-label">Account Limit</label>
                  <input class="form-control" value="{{ member[9] }}" id="account_limit" name="account_limit">
                </div>
                <div class="col-md-6 mb-3">
                  <label class="form-label">Credit available</label>
                  <input class="form-control" value="{{ member[10] }}" id="credit_available" name="credit_available">
                </div>
                {% endif %}

              {% elif profile_type == "Staff"  %}
              <div class="col-md-6 mb-3">
                <label class="form-label">Hire date</label>
                <input type="date" class="form-control" value="{{ member[6] }}" id="hire_date" name="hire_date">
              </div>
              {% endif %}
    
              <div class="col-md-6 mb-3">
                <label for="basic-url" class="form-label">New Password</label>
                <input type="text" minlength="8" maxlength="20" value="" class="form-control" id="password" name="password">
                <div class="invalid-feedback">Password must be at least 8 characters long and have at least one number and one special character</div>
              </div>
            </div>
    
            <button type="submit" class="btn btn-secondary disabled">Submit</button>
          </form>
        </div>
      </div>
    
      <div class="modal fade" id="updateMemberSuccess" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateMemberSuccessLabel">Success</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">Member profile has been successfully updated.</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
      </div>
      {% endfor %}
    </table>
  </div>

  
