{% extends "_consumer-base.html" %}

{% block title %}Profile{% endblock %}

{% block navbar %}
    {% include "components/layout/header/Nav1.html" %}
{% endblock %}

{% block breadcrumb %}
  {% with pageName='Profile' %}
    {% include "components/layout/Breadcrumb1.html" %}
  {% endwith %}
{% endblock %}

{% block content %}
<section>
    <div id="profile" class="container-fluid py-5">
        <div class="container py-5">
            <h1 class="mb-4">Profile details</h1>
            <form action="#">
                <div class="row g-5">
                    <div class="col-md-12 col-lg-6 col-xl-5">
                        <div class="row">
                            <div class="col-md-12 col-lg-6">
                                <div class="form-item w-100">
                                    <label class="form-label my-3">First Name<sup>*</sup></label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6">
                                <div class="form-item w-100">
                                    <label class="form-label my-3">Last Name<sup>*</sup></label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-item">
                            <label class="form-label my-3">Delivery Address <sup>*</sup></label>
                            <input type="text" class="form-control" placeholder="House Number Street Name">
                        </div>
                        <div class="form-item">
                            <label class="form-label my-3">City <sup>*</sup></label>
                            <div class="col-md-12">
                              <select class="form-select form-select-sm" name="city" id="city">
                                <option selected value="">--Please select a City--</option>
                                <option value="Christchurch">Christchurch</option>
                                <option value="Invercargill">Invercargill</option>
                                <option value="Wellington">Wellington</option>
                                <option value="Hamilton">Hamilton</option>
                                <option value="Auckland">Auckland</option>
                              </select>
                            </div>
                        </div>
                        <div class="form-item">
                            <label class="form-label my-3">Postcode/Zip<sup>*</sup></label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-item">
                            <label class="form-label my-3">Mobile<sup>*</sup></label>
                            <input type="tel" class="form-control">
                        </div>
                        <div class="form-item">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-5 offset-xl-1">
                        <div class="form-item">
                            <label class="form-label my-3">Credit Available</label>
                            <input type="text" class="form-control" value="300" readonly>
                        </div>
                        <div class="form-item">
                            <label class="form-label my-3 ">Account Limit</label>
                            <input type="text" class="form-control" value="500" readonly>
                        </div>
                        <div class="form-item" >
                            <label class="form-label my-3">My Box Subscription</label>
                            <input type="text" class="form-control" cols="30" rows="11" readonly>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
