{% extends "_consumer-base.html" %}

{% block title %}Cart{% endblock %}

{% block navbar %}
  {% with is_cart='1' %}
    {% include "components/layout/header/Nav1.html" %}
  {% endwith %}
{% endblock %}

{% block breadcrumb %}
  {% with pageName='Cart' %}
    {% include "components/layout/Breadcrumb1.html" %}
  {% endwith %}
{% endblock %}

{% block content %}
<section>
    <!-- Cart Page Start -->
    <div id="cart" class="container-fluid py-5">
        <div class="container py-5">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Products</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                        <th scope="col">Handle</th>
                      </tr>
                    </thead>
                    <tbody>
                        <!-- Dynamic content will be placed here -->
                    </tbody>
                </table>
            </div>
            <div class="mt-5">
                <input type="text" class="border-0 border-bottom rounded me-5 py-3 mb-4" placeholder="Coupon Code">
                <button class="btn border-secondary rounded-pill px-4 py-3 text-primary" type="button">Apply Coupon</button>
            </div>
            <div class="row g-4 justify-content-end">
                <div class="col-8"></div>
                <div class="col-sm-8 col-md-7 col-lg-6 col-xl-4">
                    <div class="bg-light rounded">
                        <div class="p-4">
                            <h1 class="display-6 mb-4">Cart <span class="fw-normal">Total</span></h1>
                            <div class="d-flex justify-content-between mb-4">
                                <h5 class="mb-0 me-4">Subtotal:</h5>
                                <p class="mb-0" id="cart-total">$0.00</p>
                            </div>

                            <div class="d-flex justify-content-between mb-4">
                                <h5 class="mb-0 me-4">Available Points:</h5>
                                <p class="mb-0" id="user-points" name="points">2000 Points</p>
                            </div>
                            <div class="form-group mb-4">
                                <label for="points-input">Enter points to use (1000 points = $10, minimum 1000):</label>
                                <input type="number" class="form-control" id="points-input" placeholder="1000" min="1000" step="1000">
                                <div class="invalid-feedback"style="display: none;">Please enter a valid number of points. Points must be in multiples of 1000 and less than or equal to your current points.</div>
                                <button class="btn btn-primary mt-2" id="apply-points">Apply Points</button>
                            </div>
                            
                            
                            <div class="d-flex justify-content-between">
                                <h5 class="mb-0 me-4">Shipping</h5>
                                <p class="mb-0" id="shipping-cost">Flat rate: $10.00</p>
                            </div>
                            <p class="mb-0 text-end">Shipping to Christchurch.</p>
                        </div>
                        <div class="py-4 mb-4 border-top border-bottom d-flex justify-content-between">
                            <h5 class="mb-0 ps-4 me-4">Total</h5>
                            <p class="mb-0 pe-4" id="final-total">$10.00</p> <!-- Total including shipping -->
                        </div>
                        <a href="/checkout" class="btn border-secondary rounded-pill px-4 py-3 text-primary text-uppercase mb-4 ms-4">Proceed to Checkout</a>
                    </div>
                </div>
            </div>
            
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Cart Page End -->
</section>
{% endblock %}


{% block script%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>

<script>
document.addEventListener('DOMContentLoaded', function() {
    function displayCart() {
    const cartItems = JSON.parse(localStorage.getItem('cart')) || [];
    const cartBody = document.querySelector('#cart tbody');
    cartBody.innerHTML = ''; // Clear existing content

    let sumTotal = 0;
    cartItems.forEach((item, index) => {
        const price = parseFloat(item.price);
        let increment = 1; // Default increment
        if (item.unit === 'kg') {
            increment = 0.25; // Assuming 'kg' should increment by 0.25
        } else if (item.unit === 'g') {
            increment = 10; // Assuming 'g' should increment by 10
        } else if (item.unit === 'ea') {
            increment = 1; // Assuming 'Each' should increment by 1
        }

        const total = price * item.quantity;
        sumTotal += total;

        const row = document.createElement('tr');
        row.innerHTML = `
            <th scope="row">
                <div class="d-flex align-items-center">
                    <img src="${item.imgSrc}" class="img-fluid me-3 rounded-circle" style="width: 100px; height: 100px;" alt="${item.name}">
                </div>
            </th>
            <td>
                <p class="mb-0 mt-4" style="font-size: 1.25rem;">${item.name}</p>
            </td>
            <td>
                <p class="mb-0 mt-4" style="font-size: 1.25rem;">$${price.toFixed(2)}</p>
            </td>
            <td>
                <div class="input-group quantity mt-4" style="width: 140px;">
                    <button class="btn btn-sm btn-minus rounded-circle bg-light border" data-index="${index}" data-increment="${increment}">
                        <i class="fa fa-minus"></i>
                    </button>
                    <input type="text" class="form-control form-control-sm text-center border-0"   value="${item.quantity.toFixed(2)} ${item.unit}">
                    <button class="btn btn-sm btn-plus rounded-circle bg-light border" data-index="${index}" data-increment="${increment}">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </td>
            <td>
                <p class="mb-0 mt-4" style="font-size: 1.25rem;">$${total.toFixed(2)}</p>
            </td>
            <td>
                <button class="btn btn-md rounded-circle bg-light border mt-4 remove-btn" data-index="${index}" style="font-size: 1.25rem; border-radius:100%">
                    <i class="fa fa-times text-danger"></i>
                    </button>
                </td>
            `;
        cartBody.appendChild(row);
    });

    setupQuantityChangeListeners();
    setupRemoveButtonListeners();
    updateShippingAndTotal(sumTotal);
    setupQuantityInputListeners();

}

function setupQuantityInputListeners() {
    document.querySelectorAll('.quantity input').forEach(input => {
        input.addEventListener('input', function() {
            const index = parseInt(this.parentNode.querySelector('.btn-minus').dataset.index); // 使用减号按钮的索引
            let cart = JSON.parse(localStorage.getItem('cart'));
            let item = cart[index];
            const newQuantity = parseFloat(this.value); // 获取用户输入的新数量
            if (newQuantity > 0) {
                item.quantity = newQuantity;
                // 重新计算qty
                if (item.unit === 'kg') {
                    item.qty = item.quantity / 0.25;
                } else if (item.unit === 'g') {
                    item.qty = item.quantity / 10;
                } else {
                    item.qty = item.quantity;
                }; // 更新数量
            } else {
                cart.splice(index, 1); // 如果数量小于等于0，则移除该商品
            }
            localStorage.setItem('cart', JSON.stringify(cart));
            displayCart(); // 刷新购物车显示
            updateCartCount(); // 更新购物车计数显示
            fetch('/cart/update', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(cart)
            })
        });
    });
}


function setupQuantityChangeListeners() {
    document.querySelectorAll('.btn-plus, .btn-minus').forEach(button => {
        button.addEventListener('click', function() {
            const index = parseInt(this.dataset.index);
            const increment = parseFloat(this.dataset.increment);
            const isAdding = this.classList.contains('btn-plus');

            let cart = JSON.parse(localStorage.getItem('cart'));
            let item = cart[index];
            if (isAdding) {
                item.quantity += increment;
            } else {
                if (item.quantity > increment) {
                    item.quantity -= increment;
                } else {
                    cart.splice(index, 1); // 如果数量减到0或以下，从购物车中移除该项
                }
            }

            // 重新计算qty
            if (item) {
                if (item.unit === 'kg') {
                    item.qty = item.quantity / 0.25;
                } else if (item.unit === 'g') {
                    item.qty = item.quantity / 10;
                } else if (item.unit === 'ea') {
                    item.qty = item.quantity;
                }
            }

            localStorage.setItem('cart', JSON.stringify(cart));
            displayCart(); // 刷新购物车显示
            updateCartCount(); // 更新购物车计数显示
            fetch('/cart/update', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(cart)
            })
        });
    });
}


function updateShippingAndTotal(sumTotal, discount = 0, pointsUsed = 0) {
    const shippingCostElement = document.getElementById('shipping-cost');
    const finalTotalElement = document.getElementById('final-total');
    let currentPoints = parseInt(document.getElementById('user-points').textContent.split(' ')[0]);
    let newPoints = currentPoints - pointsUsed;

    // Determine shipping cost based on the original sumTotal before discount
    let shippingCost = 10.00; // Default shipping cost
    if (sumTotal >= 80) {
        shippingCost = 0.00; // Free shipping for orders $80 or more before discount
    }

    // Calculate final total after applying discount and shipping
    let finalTotal = sumTotal - discount + shippingCost;

    // Update the UI with the new values
    document.getElementById('cart-total').textContent = `$${(sumTotal - discount).toFixed(2)}`;
    document.getElementById('user-points').textContent = `${newPoints} Points`;
    shippingCostElement.textContent = `Flat rate: $${shippingCost.toFixed(2)}`;
    finalTotalElement.textContent = `$${finalTotal.toFixed(2)}`;

    // Save the final total, including subtotal, shipping, total, and points used to localStorage
    localStorage.setItem('finalTotal', JSON.stringify({subtotal: sumTotal, shipping: shippingCost, total: finalTotal, pointsUsed: pointsUsed}));
}



    function updateCartCount() {
    const cart = JSON.parse(localStorage.getItem('cart')) || [];
    const cartCountElement = document.getElementById('cart-count');
    cartCountElement.textContent = cart.length; // 直接使用购物车数组的长度来表示商品项数
}


    function setupRemoveButtonListeners() {
    document.querySelectorAll('.remove-btn').forEach(button => {
        button.addEventListener('click', function() {
            const index = parseInt(this.getAttribute('data-index'));
            let cart = JSON.parse(localStorage.getItem('cart'));
            cart.splice(index, 1); // Remove the item from the array
            localStorage.setItem('cart', JSON.stringify(cart)); // Update local storage
            displayCart(); // Refresh cart display
            updateCartCount(); // Update cart count display
            fetch('/cart/update', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(cart)
            })
        });
    });
}

    displayCart(); // Initially display the cart contents
    const applyPointsButton = document.getElementById('apply-points');
applyPointsButton.addEventListener('click', function() {
    const pointsInput = parseInt(document.getElementById('points-input').value) || 0;
    const currentPoints = parseInt(document.getElementById('user-points').textContent.split(' ')[0]);
    const errorMessage = document.querySelector('.invalid-feedback');

    // 隐藏错误消息开始时
    errorMessage.style.display = 'none';

    if (isNaN(pointsInput) || pointsInput <= 0) {
        errorMessage.textContent = 'Please enter a valid number of points.';
        errorMessage.style.display = 'block'; // 显示错误消息
        return; // 提前退出如果输入无效
    }

    const cartItems = JSON.parse(localStorage.getItem('cart')) || [];
    let sumTotal = cartItems.reduce((acc, item) => acc + (parseFloat(item.price) * item.quantity), 0);

    if (pointsInput >= 1000 && pointsInput <= currentPoints && pointsInput % 1000 === 0) {
        const discount = (pointsInput / 1000) * 10; // 每1000积分抵扣10美元
        updateShippingAndTotal(sumTotal, discount, pointsInput);
    } else {
        errorMessage.textContent = 'Points must be in multiples of 1000 and less than or equal to your current points.';
        errorMessage.style.display = 'block'; // 显示错误消息
    }
});



});



    </script>
    
    
{% endblock %}
