{% extends "_consumer-base.html" %}

{% block title %}Points{% endblock %}

{% block navbar %}
    {% with is_consumer_points='1' %}
        {% include "components/layout/header/Nav1.html" %}
    {% endwith %}
{% endblock %}

{% block content %}
<style>
    .custom-text {
        color: #81c408;
        font-weight: bold;
    }
</style>

<section>
    <div id="profile" class="container-fluid py-5 mt-5">
        <div class="container py-5 text-center">
            <div class="account-header d-flex justify-content-center align-items-center py-4" style="background: none;">
                <i class="fas fa-coins fa-3x me-3"></i>
                <h1 class="mb-0">My Points</h1>
            </div>
            <div class="container">
                <div class="d-flex justify-content-start">
                    <p class="custom-text">Points Balance: 100</p>
                </div>
            </div>
            <div class="accordion" id="consumerPoints">
                <!-- Rewards points history -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingShippingAddress0">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseShippingAddress" aria-expanded="false" aria-controls="collapseShippingAddress">
                            <i class="fas fa-list me-2"></i>Points History
                        </button>
                    </h2>
                    <div id="collapseShippingAddress" class="accordion-collapse collapse" aria-labelledby="headingShippingAddress">
                        <div class="accordion-body">
                            <table class="table">
                                <thead>
                                  <tr>
                                    <th scope="col">Order ID/Giftcard Code</th>
                                    <th scope="col">Points addition</th>
                                    <th scope="col">Points consumption</th>
                                    <th scope="col">Points balance</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Details</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row">1</th>
                                    <td>+ 200</td>
                                    <td>- 200</td>
                                    <td>100</td>
                                    <td>09-09-2023</td>
                                    <td>
                                    <a class="btn view_order" role="button" data-bs-toggle="offcanvas" data-bs-target="#viewOrder1" data-user-id="1" data-bs-toggle="tooltip" title="Order details">
                                        <i class="fas fa-list fa-lg me-3 fa-fw"></i>
                                        </a>
                                    </td>
                                  </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>               
                
                <!-- giftcard redemption-->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingPaymentDetails">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePaymentDetails" aria-expanded="false" aria-controls="collapsePaymentDetails">
                            <i class="fas fa-credit-card me-2"></i> Giftcard Redemption
                        </button>
                    </h2>
                    <div id="collapsePaymentDetails" class="accordion-collapse collapse" aria-labelledby="headingPaymentDetails">
                        <div class="accordion-body">
                            <form id="giftcard"  method="POST" action="/consumer/points" class="needs-validation" novalidate>
                                <div class="row mb-4">
                                    <label for="cardHolderName" class="col-sm-4 col-form-label text-start">Giftcard Code<sup>*</sup></label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="consumer_giftcard" name="gift_card_id" pattern="[A-Za-z\s]{1,50}" >
                                        <div class="invalid-feedback">Please input the right giftcard code.</div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary mt-3">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Update Success Message -->
    <div class="p-3">
        {% with
            btn_show = 0,
            btn_text = 'Profile Update Success',
            bg_color = '#81C408',
            title = 'Profile Update Success',
            msg = 'Your profile has been successfully updated'
        %}
            {% include "components/elements/updateSuccess.html" %}
        {% endwith %}
    </div>
</section>

<style>
    .account-header {
        padding: 10px 20px;
        border-radius: 10px;
        background: linear-gradient(to right, #e7f1ff, #f8f9fa);
        display: inline-block;
    }
    .account-header h1 {
        display: inline-block;
        margin: 0;
        padding-left: 10px;
        font-size: 2rem;
    }
    .form-label {
        font-weight: bold;
    }
    .accordion-button {
        background-color: #f8f9fa;
        color: #000;
    }
    .accordion-button:focus {
        box-shadow: none;
    }
    .accordion-button:not(.collapsed) {
        color: #007bff;
        background-color: #e7f1ff;
    }
    #updateConsumerProfileForm .btn-primary {
        background-color: #81C408 !important;
        border-color: #81C408 !important;
    }
    #updateConsumerProfileForm .btn-primary:hover {
        background-color: #ffb524 !important;
        border-color: #ffb524 !important;
    }
    .form-control {
        max-width: 400px;
    }
    .col-form-label {
        padding-left: 2rem !important;
    }
    .row.mb-2 .col-sm-7 {
        padding-left: 10px;
    }
    form .row .col-sm-4 {
        padding-right: 5px;
    }
    form .row .col-sm-7 {
        padding-left: 5px;
    }
</style>
{% endblock %}

{% block script %}
  {% include "components/elements/InputValidate.html" %}

<script>
    // Show/Hide Password
    document.getElementById('showOldPassword').addEventListener('click', function () {
        togglePasswordVisibility('oldPassword');
    });

    document.getElementById('showNewPassword').addEventListener('click', function () {
        togglePasswordVisibility('newPassword');
    });

    function togglePasswordVisibility(inputId) {
        var passwordInput = document.getElementById(inputId);
        var buttonIcon = document.querySelector('#' + inputId + ' + .btn i');

        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            buttonIcon.classList.remove('fa-eye');
            buttonIcon.classList.add('fa-eye-slash');
        } else {
            passwordInput.type = 'password';
            buttonIcon.classList.remove('fa-eye-slash');
            buttonIcon.classList.add('fa-eye');
        }
    }

    // Validate Old Password
    document.getElementById('oldPassword').addEventListener('blur', function () {
        var oldPasswordInput = this;
        // Simulate server-side validation
        var storedPassword = "StoredPassword"; // Replace this with the actual stored password
        if (oldPasswordInput.value !== storedPassword) {
            oldPasswordInput.classList.add('is-invalid');
        } else {
            oldPasswordInput.classList.remove('is-invalid');
            oldPasswordInput.classList.add('is-valid');
        }
    });

    // Validate New Password
    document.getElementById('newPassword').addEventListener('input', function () {
        var newPasswordInput = this;
        var passwordPattern = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/;
        if (!passwordPattern.test(newPasswordInput.value)) {
            newPasswordInput.classList.add('is-invalid');
        } else {
            newPasswordInput.classList.remove('is-invalid');
            newPasswordInput.classList.add('is-valid');
        }
    });
</script>
<script>
    (function () {
        'use strict';
        var inputs = [
            'firstName',
            'lastName',
            'phone',
            'myDepot',
            'addressLine1',
            'addressLine2',
            'postalCode',
            'cardHolderName',
            'cvv'
        ];

        inputs.forEach(function (id) {
            document.getElementById(id).addEventListener('input', function () {
                InputValidate(id);
            });
        });


        // Credit Card Number Formatting and Validation
        document.getElementById('cardNumber').addEventListener('input', formatCreditCardNumber);

        // Expiration Date Formatting and Validation
        document.getElementById('expiryDate').addEventListener('input', formatExpirationDate);

        function formatCreditCardNumber(event) {
            let input = event.target;
            let value = input.value.replace(/\D/g, ''); // Remove non-numeric characters

            if (value.length > 16) {
                value = value.slice(0, 16); // Limit input to 16 digits
            }

            value = value.replace(/(\d{4})(?=\d)/g, '$1-'); // Add hyphen after every four digits
            input.value = value;

            if (value.length < 16) {
                input.setCustomValidity('Credit card number must be 16 digits long');
                input.classList.add('is-invalid');
            } else {
                input.setCustomValidity('');
                input.classList.remove('is-invalid');
            }
        }

        function formatExpirationDate(event) {
            let input = event.target;
            let currentDate = new Date();
            let currentYear = currentDate.getFullYear() % 100; // Get last two digits of current year
            let currentMonth = currentDate.getMonth() + 1; // Get current month
            let value = input.value.replace(/\D/g, ''); // Remove non-numeric characters
            let maxYear = currentYear + 5; // Max five years in future
            let maxMonth = 12; // Max month is 12

            if (value.length > 4) {
                value = value.slice(0, 4); // Limit input to 4 characters
            }

            value = value.replace(/^(\d{2})(\d{0,2})/, '$1/$2'); // Add slash after first two digits
            input.value = value;

            let inputYear = parseInt(value.slice(3, 5), 10);
            let inputMonth = parseInt(value.slice(0, 2), 10);

            if (inputYear > maxYear || inputMonth > maxMonth || inputYear < currentYear || (inputYear === currentYear && inputMonth < currentMonth)) {
                input.setCustomValidity('Expiration date must be in the future');
                input.classList.add('is-invalid');
            } else {
                input.setCustomValidity('');
                input.classList.remove('is-invalid');
            }
        }
    })();
</script>
<script>
    let user_id = "{{ profile.user_id }}"
    let newUpdateProfileData = {};
    let differentUpdateStaffData = {};

    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('updateSuccessModal').addEventListener('hidden.bs.modal', () => location.reload());

        const updateConsumerProfileForm = document.getElementById('updateConsumerProfileForm');
        const formData = new FormData(updateConsumerProfileForm);
        const formDataObject = Object.fromEntries(formData.entries());
        const btn = updateConsumerProfileForm.querySelector('button[type="submit"]');
        const enableSubmit = () => btn.classList.remove('disabled');
        const disableSubmit = () => btn.classList.add('disabled');

        updateConsumerProfileForm.reset();
        disableSubmit();

        updateConsumerProfileForm.addEventListener('input', event => {
            const keyName = event.target.name;
            const keyValue = event.target.value;

            newUpdateProfileData[keyName] = keyValue;

            for (const keyName in formDataObject) {
                if (newUpdateProfileData.hasOwnProperty(keyName)) {
                    if (formDataObject[keyName] !== newUpdateProfileData[keyName]) {
                        enableSubmit();
                        return
                    }
                    disableSubmit();
                }
            }
        });
        
        updateConsumerProfileForm.addEventListener('submit', event => {
            if (!updateConsumerProfileForm.checkValidity()) return // Stop further execution if form is invalid
            event.preventDefault();
            event.stopPropagation();

            for (let key in newUpdateProfileData) {
                if (formDataObject.hasOwnProperty(key) && newUpdateProfileData[key] !== formDataObject[key]) {
                    differentUpdateStaffData[key] = newUpdateProfileData[key];
                }
            }

            differentUpdateStaffData['user_id'] = user_id;
            fetch('/profile/update', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(differentUpdateStaffData)
            })
            .then(response => response.json())
            .then(data => {
                if (data.status == 1) {
                    // console.log(data)
                    // Show updateStaffSuccess modal if update is successful
                    new bootstrap.Modal(document.getElementById('updateSuccessModal')).show();
                }
                else {
                    alert("Invalid request");
                    // location.reload(); // Reload the page on failure
                }
            })
            .catch(error => console.error('Error:', error));
        });
    })
  </script>
{% endblock %}