{% extends "_consumer-base.html" %}

{% block title %}login{% endblock %}

{% block navbar %}
  {% with is_login='1' %}
    {% include "components/layout/header/Nav1.html" %}
  {% endwith %}
{% endblock %}

<!-- Content Start -->
{% block content %}
  <style>
    #login .form-control, #showPassword, #loginSave, #login a{
      transition: .6s !important
    }
    #login .form-control:focus {
      border-color: #81C408;
      box-shadow: 0 0 1.5rem #81C408;
    }
    #showPassword {
      border-top-right-radius: .3rem;
      border-bottom-right-radius: .3rem;
      border-color: #c2c2c2;
      border-left:none
    }
    #showPassword:hover {
      background: #fff;
    }

    #login .form-check-input{
      border-color: #c2c2c2 !important;
    }
    #login .form-check-input:hover{
      cursor: pointer;
      border-color: #81C408 !important;
    }
    #login .form-check-input:checked {
      background-color:#81C408;
      border-color: #81C408 !important;
      box-shadow: 0 0 1.5rem #81C408 !important;
    }
    #login .btn-primary {
      border-color:#81c408 !important;
      background-color:#81c408 !important
    }

    #login .btn-primary:hover {
      border-color:#FFB524 !important;
      background-color:#FFB524 !important;
    }
    #login a{
      color: #0b57d0 !important
    }
    #login a:hover {
      color: #c2c2c2 !important;
    }
  </style>

  <div id="login" class="container" style="margin-top: 5rem;">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-6 my-lg-5 py-lg-5">
        <img src="/static/images/slide1.png" class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-5 offset-xl-1 my-lg-5 py-lg-5">
        <h2 class="text-center" style="color: #81c408;">Welcome Back!</h2>
        <form id="loginForm" method="POST" class="row g-3 needs-validation" novalidate>

        <div class="input-group">
            <div id="loginError" class="d-none alert pt-2 pb-2 mb-0 col-12 text-center bg-danger-subtle" style="color: #6a717a !important;" role="alert"></div>
        </div>

          <!-- Email -->
          <div class="form-outline">
              <label for="loginEmail" class="form-label fw-bold mb-3 fs-4">Email address</label>
              <input type="email" maxlength="50" class="form-control" id="loginEmail" name="email" value="john.doe@example.com" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" required>
              <div class="invalid-feedback">Please enter a valid email address</div>
              <div class="valid-feedback">Looks good!</div>
          </div>
          <!-- Password -->
          <div class="form-outline">
              <label for="loginPassword" class="form-label fw-bold mb-3 fs-4">Password</label>
              <div class="input-group">
                  <input type="password" maxlength="50" class="form-control" id="loginPassword" name="password" value="groupaz@05" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" required>
                  <button class="btn btn-outline-secondary" type="button" id="showPassword">
                    <i class="fas fa-eye" style="width: 2rem;"></i>
                  </button>
                <div class="invalid-feedback">Password must be at least 8 characters long and have at least one number and one special character</div>
                <div class="valid-feedback">Looks good!</div>
            </div>
          </div>
          <!-- Remember -->
          <div class="form-outline d-flex justify-content-between">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="1" id="loginSave" name="is_saved">
              <label class="form-check-label" for="loginSave">
                Remember me
              </label>
            </div>
            <a href="{{ url_for('login') }}" class="fs-6">Forgot password?</a>
          </div>
          <!-- Submit -->
          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-primary pe-4 ps-4">Login</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account?<a class="link-danger" href="{{ url_for('register') }}"> Register</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  {% include "components/elements/InputValidate.html" %}

  <script>
    document.getElementById('showPassword').addEventListener('click', function() {
      var passwordInput = document.getElementById('loginPassword');
      var eyeIcon = this.querySelector('i');
      if (passwordInput.type === 'password') {
        passwordInput.type = 'text';
        eyeIcon.classList.remove('fa-eye');
        eyeIcon.classList.add('fa-eye-slash');
      } else {
        passwordInput.type = 'password';
        eyeIcon.classList.remove('fa-eye-slash');
        eyeIcon.classList.add('fa-eye');
      }
    });

    document.getElementById('loginEmail').addEventListener('input', function() {
      InputValidate('loginEmail');
    });

    document.getElementById('loginPassword').addEventListener('input', function() {
      InputValidate('loginPassword');
    });

    // Get references to the login form and error message element
    const loginForm = document.getElementById('loginForm');
    const loginErrorElement = document.getElementById("loginError");

    // Handle loginForm submission
    loginForm.addEventListener('submit', function (event) {
        if (!loginForm.checkValidity()) return // Stop further execution if form is invalid
        event.preventDefault();
        event.stopPropagation();

        const formData = new FormData(this); // Prepare form data

        // Send login request to flask server
        fetch('/login', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            if (data.status == true) { // Redirect user if login is successful
                // console.log(data.data)
                window.location.href = data.message;
            }
            else {
              console.log(data)
              // Remove the "d-none" class
              loginErrorElement.classList.remove("d-none");
              // Display error message if login fails
              loginErrorElement.textContent = data.message;
            }
        })
        .catch(error => console.error('Error:', error));
    });
  </script>
{% endblock %}