{% extends "_consumer-base.html" %}

{% block title %}login{% endblock %}

{% block navbar %}
  {% with is_login='1' %}
    {% include "components/layout/header/Nav1.html" %}
  {% endwith %}
{% endblock %}

{% block breadcrumb %}
  {% with pageName='Login' %}
    {% include "components/layout/Breadcrumb1.html" %}
  {% endwith %}
{% endblock %}

<!-- Content Start -->
{% block content %}
  <div class="container h-custom py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-6 my-lg-5 py-lg-5">
        <img src="/static/images/slide1.png" class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-5 offset-xl-1 my-lg-5 py-lg-5">
        <form>
          <!-- Email input -->
          <div data-mdb-input-init="" class="form-outline mb-4" data-mdb-input-initialized="true">
            <label class="form-label" for="form3Example3" style="margin-left: 0px;">Email address</label>
            <input type="email" id="form3Example3" class="form-control" placeholder="Enter a valid email address">
            <div id="emailError" style="color: red; display: none;"></div>
          <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 88.8px;"></div><div class="form-notch-trailing"></div></div></div>

          <!-- Password input -->
          <div data-mdb-input-init="" class="form-outline mb-3" data-mdb-input-initialized="true">
            <label class="form-label" for="form3Example4" style="margin-left: 0px;">Password</label>
            <input type="password" id="form3Example4" class="form-control"  placeholder="Enter your password">
            <div id="passwordError" style="color: red; display: none;"></div>
          <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 64px;"></div><div class="form-notch-trailing"></div></div></div>

          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->
            <div class="form-check mb-0">
              <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3">
              <label class="form-check-label" for="form2Example3">
                Remember me
              </label>
            </div>
            <a href="" class="text-body">Forgot password?</a>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="button" data-mdb-button-init="" data-mdb-ripple-init="" class="btn btn-primary active" style="padding-left: 2.5rem; padding-right: 2.5rem;" data-mdb-button-initialized="true" aria-pressed="true">Login</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a class="link-danger" href="{{ url_for('register') }}">Register</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script>
    // Password toggle
    const togglePasswordBtn = document.getElementById('togglePasswordBtn');
    const passwordInput = document.querySelector('.password-input');

    togglePasswordBtn.addEventListener('click', function() {
      if (passwordInput.getAttribute('type') === 'password') {
        passwordInput.setAttribute('type', 'text');
        togglePasswordBtn.innerHTML = '<i class="fas fa-eye"></i>';
      } else {
        passwordInput.setAttribute('type', 'password');
        togglePasswordBtn.innerHTML  = '<i class="fas fa-eye-slash"></i>';
      }
    });

    // Email validation
    const emailInput = document.getElementById('form3Example3');
    const emailError = document.getElementById('emailError');

    emailInput.addEventListener('blur', () => {
      validateEmail(emailInput, emailError);
    });

    function validateEmail(inputField, errorElement) {
      const emailRegex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+\.[a-zA-Z]{2,}$/;
      const isValidEmail = emailRegex.test(inputField.value);

      if (isValidEmail) {
        errorElement.style.display = 'none';
      } else {
        errorElement.style.display = 'block';
        errorElement.textContent = 'Please enter a valid email address.';
      }
    }

    // Password validation
    const passwordInputLogin = document.getElementById('form3Example4');
    const passwordError = document.getElementById('passwordError');

    passwordInputLogin.addEventListener('blur', () => {
      validatePassword(passwordInputLogin, passwordError);
    });

    function validatePassword(inputField, errorElement) {
      const passwordRegex = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/;
      const isValidPassword = passwordRegex.test(inputField.value);

      if (isValidPassword) {
        errorElement.style.display = 'none';
      } else {
        errorElement.style.display = 'block';
        errorElement.textContent = 'Password must be at least 8 characters long, contain at least 1 letter and 1 number';
      }
    }
  </script>
{% endblock %}

