{% extends "_employee-base.html" %}

{% block sidebar %}
{% with is_manage_order_history='1' %}
{% include "components/layout/Sidebar.html" %}
{% endwith %}
{% endblock %}

{% block breadcrumb %}
{% with pageName='Order History' %}
{% include "components/layout/Breadcrumb2.html" %}
{% endwith %}
{% endblock %}

{% block content %}
<style>
.search-bar {
            border-radius: 25px;
        }

.search-container {
    max-width: 800px;
    margin: auto;
}
.search-container .row {
    margin-bottom: 15px;
}
.form-label {
    font-weight: bold;
}
.text-divider {
            display: flex;
            align-items: center;
            text-align: center;
            margin-bottom: 10px;
        }
.text-divider hr {
    flex: 1;
    margin: 0;
}
.text-divider span {
    margin: 0 10px;
}
</style>


<section class="main-content">
    <div class="container-fluid py-1">
        <div class="container py-1 text-center">
            <div class="d-flex justify-content-center align-items-center py-4" style="background: none;">
                <i class="fas fa-user-shield fa-3x me-3"></i> 
                <h1 class="mb-0">Order History</h1>
            </div>

            <div class="search-container p-2">
                <form method="POST" action="/admin/order/history">
                    <div class="row">
                        <div class="col-md-2">
                            <label for="orderReferenceNumber"  class="form-label">SEARCH BY:</label>
                        </div>
                        <div class="col-md-10">
                            <input type="number" class="form-control search-bar" id="orderReferenceNumber" placeholder="ORDER REFERENCE NUMBER">
                        </div>
                    </div>

                    <div class="row m-0 text-divider">
                        <div class="col-12 text-center">
                            <hr class="d-inline-block" style="width: 46%;">
                            <span class="mx-2">OR</span>
                            <hr class="d-inline-block" style="width: 46%;">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label for="customerName" class="form-label">SEARCH BY:</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control search-bar" id="customerName" maxlength="35" pattern="^[a-zA-Z\s]+$" placeholder="CUSTOMER NAME">
                        </div>
                        <div class="col-md-2">
                            <label for="account" class="form-label">ACCOUNT:</label>
                        </div>
                        <div class="col-md-4">
                            <select class="form-control search-bar" id="account">
                                <option value="all">All</option>
                                <option value="business">Business Account</option>
                                <option value="customer">Customer</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="beginningDate" class="form-label">START DATE:</label>
                        </div>
                        <div class="col-md-4">
                            <input type="date" class="form-control search-bar" id="fromDate">
                        </div>
                        <div class="col-md-2">
                            <label for="endDate" class="form-label me-3 ">END DATE:</label>
                        </div>
                        <div class="col-md-4">
                            <input type="date" class="form-control search-bar" id="toDate">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-12 text-end">
                            <!-- 放这里验证信息无效 -->
                            <div class="col-md-6 invalid-feedback">Please provide a valid name, letters only.   
                            </div>
                            <button class="btn btn-secondary btn-rounded me-2" id="clearButton">Clear</button>
                            <button class="btn btn-primary btn-rounded" id="searchButton">Search</button>
                        </div>
                    </div>    

                    <!-- <div class="row">
                        <div class="col-md-2">
                            <label for="account" class="form-label">ACCOUNT:</label>
                        </div>
                        <div class="col-md-8">
                            <select class="form-control search-bar" id="account">
                                <option value="all">All</option>
                                <option value="business">Business Account</option>
                                <option value="customer">Customer</option>
                            </select>
                        </div>
                    </div> -->

    

                    <!-- <div class="row">
                        <div class="col-12 text-center">
                            <hr class="d-inline-block" style="width: 45%;">
                            <span class="mx-2 font-weight-bold">And</span>
                            <hr class="d-inline-block" style="width: 45%;">
                        </div>
                    </div> -->

                    

                    <!-- <div class="row">
                        <div class="col-md-4">
                            <label for="beginningDate" class="form-label">BEGINNING DATE OF ORDER LIST:</label>
                        </div>
                        <div class="col-md-8">
                            <input type="date" class="form-control search-bar" id="beginningDate">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="endDate" class="form-label">END DATE OF ORDER LIST:</label>
                        </div>
                        <div class="col-md-8">
                            <input type="date" class="form-control search-bar" id="endDate">
                        </div>
                    </div> -->
    <!-- option 2 date in one line -->
                    <!-- <div class="row">
                        <div class="col-md-6">
                            <label for="beginningDate" class="form-label">BEGINNING DATE OF ORDER LIST:</label>
                            <input type="date" class="form-control search-bar" id="beginningDate">
                        </div>
                        <div class="col-md-6">
                            <label for="endDate" class="form-label">END DATE OF ORDER LIST:</label>
                            <input type="date" class="form-control search-bar" id="endDate">
                        </div>
                    </div>-->
                </form>

 

            </div>

            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th>Order ID</th>
                            <th>Order Date</th>
                            <th>Delivery Date</th>
                            <th>Total Cost</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Example Order Row -->
                        {% for order in orders %}
                        <tr>
                            <td>{{order.order_id}}</td>
                            <td>{{order.order_date}}</td>
                            <td>{{order.delivery_date}}</td>
                            <td>{{order.total}}</td>
                            <td>{{order.status}}</td>
                            <td>
                                <a href="{{ url_for('orderDetail', order_id = order.order_id ) }}" class="btn order-view" role="button" >
                                    <i class="far fa-eye fa-lg me-3"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        <!-- Add more fixed data rows as needed -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <!-- pagination -->
    <nav aria-label="manageProduct">
        <ul class="pagination d-flex justify-content-center mt-5">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>












    <!-- Update Success btn code start here -->
    {% with
    btn_show = 0,
    bg_color = '#81C408',
    title = 'Update Success',
    msg = 'Your {item} has been successfully added'
    %}
    {% include "components/elements/addSuccess.html" %}
    {% endwith %}

    <!-- deleteMemberModal -->
    {% with
        btn_show = 0,
        bg_color = '#dc3545',
        bg_color2 = '#3399ff',
        modal_id = 'deleteMemberModal',
        title = 'Delete Confirmation',
        msg = 'Are you sure to delete this product?'
      %}
        {% include "components/elements/delConfirm.html" %}
    {% endwith %}

    <!-- delProfileSuccessModal -->
    {% with
        btn_show = 0,
        modal_id = 'delProfileSuccessModal',
        bg_color = '#3399ff',
        title = 'Deleted Successfully',
        msg = 'Product has been successfully deleted'
    %}
        {% include "components/elements/updateSuccess.html" %}
    {% endwith %}

    <!-- updateProductSuccessModal -->
    {% with
        btn_show = 0,
        modal_id = 'updateProductSuccessModal',
        bg_color = '#3399ff',
        title = 'Update Successfully',
        msg = 'Product has been successfully updated'
    %}
        {% include "components/elements/updateSuccess.html" %}
    {% endwith %}

    {% include "components/elements/loadingModal.html" %}
</section>
{% endblock %}



{% block script %}
{% include "components/elements/InputValidate.html" %}

<script>
    // validation
    document.getElementById('orderReferenceNumber').addEventListener('input', function () {
        InputValidate('orderReferenceNumber');
    });
    document.getElementById('customerName').addEventListener('input', function () {
        InputValidate('customerName');
    });


    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('updateProductSuccessModal').addEventListener('hidden.bs.modal', () => location.reload());

        document.querySelectorAll('.product-update').forEach(function (update) {
        const product_id = update.getAttribute('data-product-id')
        const updateProductForm = document.getElementById('updateProductForm' + product_id);

        updateProductForm.addEventListener('submit', event => {
          if (!updateProductForm.checkValidity()) return // Stop further execution if form is invalid
          event.preventDefault();
          const formData = new FormData(updateProductForm);

          fetch('/product/update', {
              method: 'POST',
              body: formData
          })
          .then(response => response.json())
          .then(data => {
              if (data.status == 1) {
                  console.log(data.status)
                  // Show updateNewsSuccess modal if update is successful
                  new bootstrap.Modal(document.getElementById('updateProductSuccessModal')).show();
              }
              else {
                  alert("Invalid request");
                  // location.reload(); // Reload the page on failure
              }
          })
          .catch(error => console.error('Error:', error));
        });
      })
    });

    // Add product
    document.addEventListener('DOMContentLoaded', function () {
        //     // addSuccessModal 是boostrap自带的吗？html页面有自行再定义吗
        document.getElementById('addSuccessModal').addEventListener('hidden.bs.modal', () => location.reload());

        const addProductForm = document.getElementById('addProductForm');

        // Handle add form submission
        addProductForm.addEventListener('submit', function (event) {
            if (!addProductForm.checkValidity()) return // Stop further execution if form is invalid
            event.preventDefault();
            event.stopPropagation();

            const formData = new FormData(this); // Prepare form data

            // Send login request to flask server
            fetch('/product/add', {
                method: 'POST',
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    if (data.status == true) { // Redirect user if login is successful
                        // console.log(data)
                        // Show updateStaffSuccess modal if update is successful
                        new bootstrap.Modal(document.getElementById('addSuccessModal')).show();
                    }
                    else {
                        alert("Invalid request");
                    }
                })
                .catch(error => console.error('Error:', error));
        });

        // del product
        document.getElementById('delProfileSuccessModal').addEventListener('hidden.bs.modal', () => location.reload());
        const productDel = document.querySelectorAll('.product-del');

        // Iterate over all delete buttons
        productDel.forEach(function (del) {
            // Add click event listener to each delete button
            del.addEventListener('click', function (event) {
                event.preventDefault();
                const product_id = del.getAttribute('data-product-id');

                // Show delConfirm modal when delete button is clicked
                const loadingModal = new bootstrap.Modal(document.getElementById('loadingModal'));
                const deleteMemberModal = new bootstrap.Modal(document.getElementById('deleteMemberModal'));
                const confirmButton = document.querySelector('#deleteMemberModal .modal-footer .btn-primary');
                deleteMemberModal.show();

                // Add click event listener to the confirmButton
                confirmButton.addEventListener('click', function () {
                    // Send request to server
                    fetch('/product/delist', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ 'product_id': product_id })
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.status) {
                                // Reload page if deletion is successful
                                deleteMemberModal.hide();
                                loadingModal.show();
                                setTimeout(() => {
                                    loadingModal.hide();
                                    new bootstrap.Modal(document.getElementById('delProfileSuccessModal')).show();
                                }, 1000);
                            }
                            else {
                                alert("Invalid request");
                            }
                        })
                        .catch(error => console.error('Error:', error));
                });
            });
        });

    });
</script>

{% endblock %}
