{% extends "_employee-base.html" %}

{% block sidebar %}
{% with is_manage_order_history='1' %}
{% include "components/layout/Sidebar.html" %}
{% endwith %}
{% endblock %}

{% block breadcrumb %}
{% with pageName='Order History' %}
{% include "components/layout/Breadcrumb2.html" %}
{% endwith %}
{% endblock %}

{% block content %}
<style>
.search-bar {
            border-radius: 25px;
        }

.search-container {
    max-width: 800px;
    margin: auto;
}
.search-container .row {
    margin-bottom: 15px;
}
.form-label {
    font-weight: bold;
}
.text-divider {
            display: flex;
            align-items: center;
            text-align: center;
            margin-bottom: 10px;
        }
.text-divider hr {
    flex: 1;
    margin: 0;
}
.text-divider span {
    margin: 0 10px;
}
</style>


<section class="main-content">
    <div class="container-fluid py-1">
        <div class="container py-1 text-center">
            <div class="d-flex justify-content-center align-items-center py-4" style="background: none;">
                <i class="fas fa-history fa-3x me-3"></i> 
                <h1 class="mb-0">Order History</h1>
            </div>

            <div class="search-container p-2">
                <form id="searchByReferenceForm" method="POST" action="/admin/order/history">
                    <div class="row">
                        <div class="col-md-2">
                            <label for="orderReferenceNumber"  class="form-label">SEARCH BY:</label>
                        </div>
                        <div class="col-md-10">
                            <input type="number" class="form-control search-bar" id="orderReferenceNumber" placeholder="ORDER REFERENCE NUMBER">
                        </div>
                    </div>
                </form>
                
                <div class="row m-0 text-divider">
                    <div class="col-12 text-center">
                        <hr class="d-inline-block" style="width: 46%;">
                        <span class="mx-2">OR</span>
                        <hr class="d-inline-block" style="width: 46%;">
                    </div>
                </div>

                <form id="searchByDetailsForm" method="POST" action="/admin/order/history">
                    <div class="row">
                        <div class="col-md-2">
                            <label for="customerName" class="form-label">SEARCH BY:</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control search-bar" id="customerName" maxlength="35" pattern="^[a-zA-Z\s]+$" placeholder="CUSTOMER NAME">
                            <div class="invalid-feedback">Only letters and spaces.</div>
                        </div>
                        <div class="col-md-2">
                            <label for="account" class="form-label">ACCOUNT:</label>
                        </div>
                        <div class="col-md-4">
                            <select class="form-control search-bar" id="account">
                                <option value="all">All</option>
                                <option value="Business">Business Account</option>
                                <option value="Residential">Customer</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="startDate" class="form-label">START DATE:</label>
                        </div>
                        <div class="col-md-4">
                            <input type="date" class="form-control search-bar" id="startDate">
                        </div>
                        <div class="col-md-2">
                            <label for="endDate" class="form-label me-3 ">END DATE:</label>
                        </div>
                        <div class="col-md-4">
                            <input type="date" class="form-control search-bar" id="endDate">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-12 text-end">
                            <button class="btn btn-secondary btn-rounded me-2" id="clearButton">Clear</button>
                            <button class="btn btn-primary btn-rounded" id="searchButton">Search</button>
                        </div>
                    </div>    
                </form>
            </div>

            <div class="table">
                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th>Order ID</th>
                            <th>Name</th>
                            <th>Order Date</th>
                            <th>Delivery Date</th>
                            <th>Total Cost</th>
                            <th>Status</th>
                            <th>View</th>
                            <th>Change Status</th>
                        </tr>
                    </thead>
                    <tbody id="orderTableBody">
                        <!-- Order Row -->
                        {% for order in orders %}
                        <tr>
                            <td>{{order.order_id}}</td>
                            <td>{{order.full_name}}</td>
                            <td>{{order.order_date}}</td>
                            <td>{{order.delivery_date}}</td>
                            <td>{{order.total}}</td>
                            <td>{{order.status}}</td>
                            <td>
                                <a href="{{ url_for('orderDetail', order_id = order.order_id ) }}" class="btn order-view" role="button" >
                                    <i class="far fa-list-alt fa-lg"></i>
                                </a>
                            </td>
                            <td>
                                <div class="btn-group dropstart" role="group" data-order-id="{{order.order_id}}">
                                    {% if order.status in ['Refunded', 'Cancelled'] %}
                                    <button type="button" class="btn btn-secondary dropdown-toggle" disabled>
                                        Change
                                    </button>
                                    {% else %}
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                        Change
                                    </button>
                                    {% endif %}

                                    {% if order.status == 'Pending' %}
                                    <ul class="dropdown-menu payment_status">
                                        <li><a class="dropdown-item" data-value="Cancelled" href="#">Cancelled</a></li>
                                        <li><a class="dropdown-item" data-value="Comfirmed" href="#">Comfirmed</a></li>
                                        <li><a class="dropdown-item" data-value="Shipped" href="#">Shipped</a></li>
                                        <li><a class="dropdown-item" data-value="Delivered" href="#">Delivered</a></li>
                                        <li><a class="dropdown-item" data-value="Refunded" href="#">Refunded</a></li>
                                    </ul>                     
                                    {% elif order.status == 'Cancelled' %}
                                        <ul class="dropdown-menu payment_status"></ul>
                                    {% elif order.status == 'Comfirmed' %}
                                        <ul class="dropdown-menu payment_status">                       
                                            <li><a class="dropdown-item" data-value="Shipped" href="#">Shipped</a></li>
                                            <li><a class="dropdown-item" data-value="Delivered" href="#">Delivered</a></li>
                                            <li><a class="dropdown-item" data-value="Refunded" href="#">Refunded</a></li>
                                        </ul>
                                    {% elif order.status == 'Shipped' %}
                                        <ul class="dropdown-menu payment_status">                       
                                            <li><a class="dropdown-item" data-value="Delivered" href="#">Delivered</a></li>
                                            <li><a class="dropdown-item" data-value="Refunded" href="#">Refunded</a></li>
                                        </ul>
                                    {% elif order.status == 'Delivered' %}
                                        <ul class="dropdown-menu payment_status">                       
                                            <li><a class="dropdown-item" data-value="Refunded" href="#">Refunded</a></li>
                                        </ul>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        <!-- Add more fixed data rows as needed -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- pagination -->
    <nav aria-label="manageProduct">
        <ul class="pagination d-flex justify-content-center mt-5">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

    <!-- updateProductSuccessModal -->
    {% with
        btn_show = 0,
        modal_id = 'updateStatusSuccessModal',
        bg_color = '#3399ff',
        title = 'Update Successfully',
        msg = 'Order Status has been successfully updated'
    %}
        {% include "components/elements/updateSuccess.html" %}
    {% endwith %}

    {% include "components/elements/loadingModal.html" %}
</section>
{% endblock %}



{% block script %}
{% include "components/elements/InputValidate.html" %}

<script>
// validation
    document.getElementById('orderReferenceNumber').addEventListener('input', function () {
        InputValidate('orderReferenceNumber');
    });
    document.getElementById('customerName').addEventListener('input', function () {
        InputValidate('customerName');
    });


    // date validation
    document.addEventListener('DOMContentLoaded', function () {
        const startDateInput = document.getElementById('startDate');
        const endDateInput = document.getElementById('endDate');
  
        // Function to set the maximum value for the end date to today
        function setMaxEndDate() {
            const today = new Date().toISOString().split('T')[0]; // Get today's date in YYYY-MM-DD format
            endDateInput.max = today;
        }

      // Adjust the minimum value of the end date when the start date changes
      startDateInput.addEventListener('change', function () {
          endDateInput.min = startDateInput.value; // Make sure the end date is no earlier than the start date
          if (endDateInput.value < startDateInput.value) {
              endDateInput.value = startDateInput.value; // Automatically adjust the end date to a valid value
          }
      });

        // Set the maximum end date to today
        setMaxEndDate();

        // Prevent the user from selecting a future date for the start date
        startDateInput.addEventListener('input', function () {
        if (startDateInput.value > endDateInput.max) {
            startDateInput.value = endDateInput.max; // Adjust to today's date if a future date is selected
        }
        });

        // Prevent the user from selecting a future date for the end date
        endDateInput.addEventListener('input', function () {
        if (endDateInput.value > endDateInput.max) {
            endDateInput.value = endDateInput.max; // Adjust to today's date if a future date is selected
        }
        });

  });

  document.getElementById('updateStatusSuccessModal').addEventListener('hidden.bs.modal', () => location.reload());

// update status modal
document.addEventListener('DOMContentLoaded', function () {
    const loadingModal = new bootstrap.Modal(document.getElementById('loadingModal'));
    // Event listener for status update dropdown items
    document.querySelectorAll('.payment_status .dropdown-item').forEach(function (item) {
        item.addEventListener('click', function (event) {
            event.preventDefault();
            const orderId = this.closest('.btn-group').getAttribute('data-order-id'); 
            const newStatus = this.getAttribute('data-value');

            loadingModal.show();
            fetch('/admin/order/status/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ order_id: orderId, status: newStatus })
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                if (data.status == 1) {
                    loadingModal.hide();
                    // Show updateStatusSuccess modal if update is successful
                    new bootstrap.Modal(document.getElementById('updateStatusSuccessModal')).show();
                } else {
                    loadingModal.hide();
                    alert("Failed to update status");
                }
            })
            .catch(error => console.error('Error:', error));
        });
    });
});


// Search by order reference number 
const orderReferenceInput = document.getElementById('orderReferenceNumber');
const orderTableBody = document.getElementById('orderTableBody');

orderReferenceInput.addEventListener('input', function () {
    const reference = orderReferenceInput.value.toLowerCase();//不需要.toLowerCase吧，因为输入的只能是数字
    const rows = orderTableBody.getElementsByTagName('tr');
    let hasVisibleRows = false;

    Array.from(rows).forEach(row => {
        const referenceCell = row.getElementsByTagName('td')[0]; 
        const referenceText = referenceCell.textContent.toLowerCase();

        if (referenceText.includes(reference)) {
            row.style.display = '';
            hasVisibleRows = true;
        } else {
            row.style.display = 'none';
        }
    });

    // Handle no results case
    if (!hasVisibleRows) {
        orderTableBody.innerHTML = '<tr><td colspan="8" class="text-center">No matching orders found</td></tr>';
    }
});


// Search by customer details info
const customerNameInput = document.getElementById('customerName');
const accountInput = document.getElementById('account');
const startDateInput = document.getElementById('startDate');
const endDateInput = document.getElementById('endDate');

function filterRows() {
    const customerName = customerNameInput.value.toLowerCase();
    const account = accountInput.value.toLowerCase();//不需要.toLowerCase吧，因为输入的value被写死了
    const startDate = startDateInput.value;
    const endDate = endDateInput.value;
    const rows = orderTableBody.getElementsByTagName('tr');
    let hasVisibleRows = false;

    Array.from(rows).forEach(row => {
        const cells = row.getElementsByTagName('td');
        const customerNameCell = cells[1].textContent.toLowerCase();
        const accountCell = account; 
        const orderDateCell = cells[2].textContent;
        const orderDate = new Date(orderDateCell);

        let matches = true;

        if (customerName && !customerNameCell.includes(customerName)) {
            matches = false;
        }

        if (account !== 'all' && accountCell !== account) { //修改数据库，新增一列？
            matches = false;
        }

        if (startDate && orderDate < new Date(startDate)) {
            matches = false;
        }

        if (endDate && orderDate > new Date(endDate)) {
            matches = false;
        }

        if (matches) {
            row.style.display = '';
            hasVisibleRows = true;
        } else {
            row.style.display = 'none';
        }
    });

    // Handle no results case
    if (!hasVisibleRows) {
        orderTableBody.innerHTML = '<tr><td colspan="8" class="text-center">No matching orders found</td></tr>';
    }
}

customerNameInput.addEventListener('input', filterRows);
accountInput.addEventListener('change', filterRows);
startDateInput.addEventListener('input', filterRows);
endDateInput.addEventListener('input', filterRows);
</script>

{% endblock %}
