{% extends "_employee-base.html" %}

{% block title %}Manage Points{% endblock %}

{% block sidebar %}
{% with is_managePoints='1' %}
{% include "components/layout/Sidebar.html" %}
{% endwith %}
{% endblock %}

{% block breadcrumb %}
{% with pageName='Manage Points' %}
{% include "components/layout/Breadcrumb2.html" %}
{% endwith %}
{% endblock %}

{% block content %}

<!-- Rewards points history -->
<section class="main-content">
    <div class="container-fluid py-1">
        <div class="container py-1 text-center">
            <div class="d-flex justify-content-center align-items-center py-4" style="background: none;">
                <i class="fas fa-history fa-3x me-3"></i> 
                <h1 class="mb-0">Consumer Points</h1>
            </div>
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                        <th scope="col">User ID</th>
                        <th scope="col">Given name</th>
                        <th scope="col">Family name</th>
                        <th scope="col">Depot</th>
                        <th scope="col">Points balance</th>
                        <th scope="col">Date</th>
                        <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for point in points_list %}
                        <tr>
                        <th scope="row">{{point[5]}}</th>
                        <td>{{point[0]}}</td>
                        <td>{{point[1]}}</td>
                        <td>{{point[3]}}</td>
                        <td>{{point[10]}}</td>
                        <td>{{point[11]}}</td>
                        <form id="managePointsForm{{ point[5] }}"  method="POST" action="/manage/points" class="needs-validation" novalidate>
                            <input type="text" class="form-control d-none" name="user_id" value="{{ point[2] }}"/>     
                            <input type="text" class="form-control d-none" name="point_id" value="{{ point[4] }}"/>
                        <td>
                            <a class="btn manage-points" role="submit" data-bs-toggle="offcanvas" data-bs-target="#managePoints{{ point[5] }}" data-user-id="{{ point[5] }}" data-bs-toggle="tooltip" title="Points detail">
                                <i class="fas fa-list fa-lg me-3 fa-fw"></i>
                            </a>
                        </td>
                        </tr>
                        {% endfor %}  
                    </tbody>
                    </form>
                </table>
        </div>   
    </div>    
  

    
    <!-- Update Success Message -->
    <div class="p-3">
        {% with
            btn_show = 0,
            modal_id = 'redemptionSuccessModal',
            bg_color = '#81C408',
            title = 'Redemption Success',
            msg = 'Your gift card has been successfully redemption'
        %}
            {% include "components/elements/updateSuccess.html" %}
        {% endwith %}
    </div>
</section>

{% endblock %}

{% block script %}
  {% include "components/elements/InputValidate.html" %}
{% endblock %}

  