{% extends "_employee-base.html" %}

{% block sidebar %}
{% with manageGiftcard='1' %}
{% include "components/layout/Sidebar.html" %}
{% endwith %}
{% endblock %}

{% block breadcrumb %}
{% with pageName='Manage Giftcards' %}
{% include "components/layout/Breadcrumb2.html" %}
{% endwith %}
{% endblock %}

{% block content %}
<style>
    #manage-giftcards .vesitable-item:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease;
    }
    #manage-giftcards .btn:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease;
    }

    #manage-giftcards .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5); 
}

</style>



<section id="manage-giftcards" class="main-content">
    <h1 class="text-center">Manage Giftcards</h1>

    <!-- Start -->
    <div class="container-fluid vesitable py-2">
        <div class="container py-2">
            <h3 class="mb-2">Giftcard Choices</h3>
            <div class="owl-carousel giftcard-carousel justify-content-center">     
                {% for card in giftcards %}
                <div class="border border-primary rounded position-relative vesitable-item">
                    <div class="vesitable-img">
                        <img src="{{ url_for('static', filename='images/product/' + card.image) }}" class="img-fluid w-100 rounded-top" alt="">
                    </div>
                    <div class="p-4 rounded-bottom">
                        <h4>Balance: {{ card.balance }}</h4>
                        <p>{{ card.name }}</p>
                        <div class="d-flex justify-content-between flex-lg-wrap">
                            <a data-bs-toggle="modal" data-bs-target="#viewnewsModal" data-product-id="{{ card.product_id }}" class="border border-secondary rounded-pill px-3 text-primary btn view-more-btn">
                                <i class="fas fa-angle-double-right me-2 text-primary"></i> Find More
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- View Detail Modal -->
    <div class="modal fade" id="viewnewsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" style="max-width: 900px">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-primary fst-italic" id="exampleModalLabel"><i class="far fa-smile-wink"></i> Detail Info</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 fst-italic" id="modal-description">
                            <h5>description</h5>
                            <p id="card-description"></p>
                            <br>
                            <strong>To further view and adjust settings of this card</strong> (Inventory, Description, ect.)
                            <p>Click the left sidebar to enter the <strong>Product Management</strong> page to explore more operations.</p>
                        </div>
                        <div class="col-md-6">
                            <div class="vesitable-img">
                                <img id="card-image" src="" class="img-fluid w-100 rounded-top" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


  <h3 class="m-2">Giftcard Redemption </h3>

    <div class="row m-3">
        <div class="col-md-2">
            <label for="customerName"  class="form-label p-2"> <strong>SEARCH BY: </strong></label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control search-bar" id="customerName" minlength="2" maxlength="35" pattern="^[a-zA-Z\s]+$" placeholder="CUSTOMER NAME">
            <div class="invalid-feedback">Only letters and spaces, length must be between 2 and 35 characters.</div>
        </div>
        <div class="col-md-2 ">
            <button class="btn btn-primary border-0 btn-rounded justify-content-end " type="button" style="top: 2; right: 0;" id="searchButton">Search</button>
        </div>
    </div>


  <div id="orders-table" class="table-responsive m-4">
    <table class="table">
        <thead>
            <tr>
                <th>Giftcard ID</th>
                <th>Code</th>
                <th>Balance</th>
                <th>Redemption Date</th>
                <th>Consumer Name</th>
                <th>User ID</th>
            </tr>
        </thead>
        <tbody id="gifrcardRedeemTableBody" class="table-group-divider">
            {% for card in giftcardsRedeem %}
            <tr>
                <td>{{card.gift_card_id}}</td>
                <td>{{card.code}}</td>
                <td>{{card.balance}}</td>
                <td>{{card.order_date}}</td>
                <td>{{card.full_name}}</td>
                <td>{{card.user_id}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



</section>
{% endblock %}



{% block script %}
{% include "components/elements/InputValidate.html" %}

<script>
// validation
document.getElementById('customerName').addEventListener('input', function () {
        InputValidate('customerName');
    });

// carousel for gift card
(function ($) {
    $("#manage-giftcards .giftcard-carousel").owlCarousel({
        autoplay: true,
        smartSpeed: 1500,
        center: false,
        dots: true,
        loop: true,
        margin: 25,
        nav: true,
        navText: [
            '<i class="fas fa-arrow-left"></i>',
            '<i class="fas fa-arrow-right"></i>'
        ],
        responsiveClass: true,
        responsive: {
            0: {
                items: 1
            },
            576: {
                items: 1
            },
            768: {
                items: 2
            },
            992: {
                items: 3
            },
            1200: {
                items: 4
            }
        }
    });

    // Hover effect for zoom
    $('#manage-giftcards .vesitable-item').hover(
        function () {
            $(this).css('transform', 'scale(1.05)');
            $(this).css('transition', 'transform 0.3s ease');
        },
        function () {
            $(this).css('transform', 'scale(1)');
            $(this).css('transition', 'transform 0.3s ease');
        }
    );

    // Hover effect for button zoom
    $('#manage-giftcards .btn').hover(
        function () {
            $(this).css('transform', 'scale(1.1)');
            $(this).css('transition', 'transform 0.3s ease');
        },
        function () {
            $(this).css('transform', 'scale(1)');
            $(this).css('transition', 'transform 0.3s ease');
        }
    );

    // Modal Video
    $(document).ready(function () {
        var $videoSrc;
        $('#manage-giftcards .btn-play').click(function () {
            $videoSrc = $(this).data("src");
        });

        $('#videoModal').on('shown.bs.modal', function () {
            $("#video").attr('src', $videoSrc + "?autoplay=1&amp;modestbranding=1&amp;showinfo=0");
        });

        $('#videoModal').on('hide.bs.modal', function () {
            $("#video").attr('src', $videoSrc);
        });
    });

    // Modal content loading
    $(document).ready(function () {
        // Convert the giftcards data to JSON and store it in a variable
        var giftcards = JSON.parse('{{ giftcards | tojson | safe }}');

        $('#manage-giftcards .view-more-btn').click(function () {
            var productId = $(this).data('product-id');
            var card = giftcards.find(card => card.product_id == productId);

            if (card) {
                $('#card-description').text(card.description);
                $('#card-image').attr('src', "{{ url_for('static', filename='images/product/') }}" + card.image);
            }
        });
    });
})(jQuery);




// Search by customer name
const customerNameInput = document.getElementById('customerName');

function filterRows() {
    const customerName = customerNameInput.value.toLowerCase();
    const rows = gifrcardRedeemTableBody.getElementsByTagName('tr');
    let hasVisibleRows = false;
    // Remove any existing No matching row
    Array.from(rows).forEach(row => {
        if (row.id === 'noResultsRow') {
            row.remove();
        }
    });

    Array.from(rows).forEach(row => {
        const cells = row.getElementsByTagName('td');
        const customerNameCell = cells[4].textContent.toLowerCase();

        let matches = true;

        if (customerName && !customerNameCell.includes(customerName)) {
            matches = false;
        }

        if (matches) {
            row.style.display = '';
            hasVisibleRows = true;
        } else {
            row.style.display = 'none';
        }
    });

    // Handle no results case
    if (!hasVisibleRows) {
        const noResultsRow = document.createElement('tr');
        noResultsRow.id = 'noResultsRow';
        const noResultsCell = document.createElement('td');
        noResultsCell.colSpan = 6;
        noResultsCell.className = 'text-center';
        noResultsCell.textContent = 'No matching giftcard redemption record found';
        noResultsRow.appendChild(noResultsCell);
        gifrcardRedeemTableBody.appendChild(noResultsRow);
    }

}

// filter info after click button
searchButton.addEventListener('click',filterRows);




</script>

{% endblock %}