{% extends "_employee-base.html" %}

{% block sidebar %}
  {% with is_news='1' %}
  {% include "components/layout/Sidebar.html" %}
  {% endwith %}
{% endblock %}

{% block breadcrumb %}
  {% with pageName='Post News' %}
  {% include "components/layout/Breadcrumb2.html" %}
  {% endwith %}
{% endblock %}

{% block content %}

<section class="main-content">
  <!-- Post news-->
  <div id="news_post" class="card">
    <div class="card-header">
      <h2>Post News</h2>
    </div>
    <div class="card-body">
      <form id="addNewsForm1" class="needs-validation" novalidate>
      <div class="container mt-5">
        <div class="row">
            <!-- Left side input fields -->
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" maxlength="80" class="form-control" name="title" id="post_title" placeholder="Enter Title" required>
                    <div class="invalid-feedback">Please input a valid title, must not exceed 80 characters.</div>
                  </div>
                <div class="mb-3">
                    <label for="subtitle" class="form-label">Subtitle</label>
                    <input type="text" maxlength="80" class="form-control" name="subtitle" id="post_subtitle" placeholder="Enter Subtitle" required>
                    <div class="invalid-feedback">Please input a valid title, must not exceed 80 characters.</div>
                  </div>
                <div class="mb-3">
                    <label for="date" class="form-label">Post date</label>
                    <input type="date" class="form-control" name="date" id="post_date" required>
                </div>
                {% if type == 'National_Manager' %}
                <div class="mb-3">
                  <label class="form-label">Depot</label>
                  <div class="d-flex align-items-center">
                    <select class="form-control" name="depot_id" id="depot_id" required>
                      <option selected value="">Please select your city</option>
                      <option value="1">Christchurch</option>
                      <option value="2">Invercargill</option>
                      <option value="3">Wellington</option>
                      <option value="4">Hamilton</option>
                      <option value="5">Auckland</option>
                      <option value="6">NZ</option>
                    </select>
                  </div>
                </div>
                {% endif %}
            </div>
            <!-- Right side image display -->
            <div class="col-md-6 d-flex justify-content-center">
              <div class="col-md-4 d-flex align-items-center">
                <div class="card shadow-sm img-container">
                  <label for="post_img" class="d-block w-100 text-center">
                    Cover image
                    <img src="{{ url_for('static', filename='images/user_default_image.png') }}" class="card-img-top" id="imageCoverPreview" alt="Cover Image">
                  </label>
                  <input class="form-control" type="file" name="image" id="post_img" style="display: none;" accept="image/*" onchange="previewCoverImage(event)" required>
                  <div class="invalid-feedback">Please select an image.</div>
                </div>
              </div>
            </div>
            <!-- <div class="col-md-2 d-flex align-items-center">
              <div class="card shadow-sm img-container">
                  <label for="contentimg" class="d-block w-100 text-center">Content image
                  <img src="{{ url_for('static', filename='images/user_default_image.png') }}" class="card-img-top" id="imagePreview2" alt="Cover Image" required>
                  </label>
                  <input class="form-control" type="file" name="contentimg" id="contentimg" style="display: none;" accept="image/*">
              </div>
            </div> -->
        </div>
        <div class="row">
            <label for="content" class="form-label">Content</label>
            <textarea type="text" class="form-control form-textarea" name="content" id="content" placeholder="Enter Content" rows="6" required></textarea>
        </div>
      </div>
      <p></p>
      <div class="col-12 text-center">
        <button type="submit" class="btn custom-btn news-add"  data-news-id="1">Post</button>
      </div>  
      </form>
    </div>
  </div>

  <!-- News history -->
  <div id="news_history" class="card" >
    <div class="card-header">
      <h2>News History</h2>
    </div>
      <table class="table">
          <thead>
            <tr>
              <th scope="col">No.</th>
              <th scope="col">Title</th>
              <th scope="col">Subtitle</th>
              <th scope="col">Post date</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for newz in news %}
            <tr>
              <th scope="row">{{newz.news_id}}</th>
              <td>{{newz.title}}</td>
              <td>{{newz.subtitle}}</td>
              <td>{{newz.date}}</td>
              <td>
              <a class="btn" role="button" data-bs-toggle="offcanvas" data-bs-target="#updateNews{{newz.news_id}}" data-news-id="{{newz.news_id}}" data-bs-toggle="tooltip" title="Update news">
                  <i class="fas fa-edit fa-lg me-3 fa-fw"></i>
              </a>
              <a class="btn news-delete" role="button" data-bs-toggle="modal" data-bs-target="#deleteNews{{ newz.news_id }}" data-news-id="{{newz.news_id}}" data-bs-toggle="tooltip" title="Delete news">
                <i class="fas fa-trash-alt fa-lg me-3 fa-fw"></i>
              </a>   
              </td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
  </div>
</section>

{% for newz in news %}
<!-- update news modal-->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="updateNews{{newz.news_id}}" aria-labelledby="updateNewsLabel">
  <div class="offcanvas-header">
    <div class="col text-center">
      <h5 class="offcanvas-title" id="updateNewsLabel">Update News</h5>
    </div>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <form id="updateNewsForm{{newz.news_id}}" class="needs-validation" novalidate>
        <input type="text" class="form-control d-none" name="news_id" value="{{ newz.news_id }}"/>  

        <div class="col-md-12 mb-3">
          <div class="card shadow-sm" style="width: 8vw;">
            <label for="update_img_{{ newz.news_id }}">
                <img src="{{ url_for('static', filename='images/upload/' + newz.image) }}" class="card-img-top" id="imagePreview{{ newz.news_id }}" data-bs-toggle="tooltip" title="Update image">
            </label>
            <input class="form-control" type="file" name="image" id="update_img_{{ newz.news_id }}"
              style="display: none;" accept="image/*" onchange="previewImage(event, '{{ newz.news_id }}')"> 
          </div>
        </div> `
        <div class="col-md-6 mb-3">
          <label class="form-label" for="form3Example3c">Title <sup>*</sup></label>
          <input type="text" maxlength="50" class="form-control" id="update_title" name="title" value="{{newz.title}}" pattern="^[a-zA-Z]+$" required/>     
          <div class="invalid-feedback">Please input a title.</div> 
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label">Subtitle</label>
          <input type="text" class="form-control" value="{{newz.subtitle}}" id="subtitle" name="subtitle" minlength="1" maxlength="35" pattern="^[a-zA-Z]+$" required>
          <div class="invalid-feedback">Please input a subtitle.</div>
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label" for="post_date">Post date<sup>*</sup></label>
          <input type="date" class="form-control" id="update_date" name="date" value="{{newz.date}}" required>
        </div>  
        <div>
          <label class="form-label">Content</label>
          <textarea type="text" class="form-control" value="" id="update_content" name="content" minlength="1" maxlength="35" rows="6" pattern="^[a-zA-Z]+$" required>{{newz.content}}</textarea>
          <div class="invalid-feedback">Please input content.</div>
        </div>
        <p></p>
      <div class="col text-center">
      <button type="submit" class="btn btn-secondary news-update" data-news-id="{{newz.news_id}}">Update</button>
      </div>
    </form>
  </div>
</div>
{% endfor %}

{% for newz in news %}
    <!-- deleteEmployeeModal-->
    {% with
      btn_show = 0,
      bg_color = '#dc3545',
      bg_color2 = '#3399ff',
      modal_id = 'deleteNews' + newz.news_id|string,
      title = 'Delete Confirmation',
      msg = 'Are you sure to delete this news?'
    %}
      {% include "components/elements/delConfirm.html" %}
    {% endwith %}
{% endfor %}

 <!-- updateNewsSuccessModal -->
 {% with
  btn_show = 0,
  modal_id = 'updateNewsSuccessModal',
  bg_color = '#3399ff',
  title = 'Updated Successfully',
  msg = 'News has been successfully updated'
%}
  {% include "components/elements/updateSuccess.html" %}
{% endwith %}

<!-- addNewsSuccessModal -->
{% with
  btn_show = 0,
  modal_id = 'addNewsSuccessModal',
  bg_color = '#3399ff',
  title = 'Added Successfully',
  msg = 'News has been successfully posted'
%}
  {% include "components/elements/updateSuccess.html" %}
{% endwith %}

 <!-- delNewsSuccessModal -->
 {% with
  btn_show = 0,
  modal_id = 'delNewsSuccessModal',
  bg_color = '#3399ff',
  title = 'Deleted Successfully',
  msg = 'News has been successfully deleted'
%}
  {% include "components/elements/updateSuccess.html" %}
{% endwith %}

{% include "components/elements/loadingModal.html" %}

{% endblock %}

{% block script %}

<!-- {% include "components/elements/InputValidate.html" %} -->
  <script>

    // document.getElementById('post_img').addEventListener('input', function() {	
    // InputValidate('post_img');	
    // });	
      
    // document.getElementById('post_subtitle').addEventListener('input', function() {	
    // InputValidate('post_subtitle}}');	
    // });	
      
    // document.getElementById('post_title').addEventListener('input', function() {	
    // InputValidate('post_title');	
    // });	
      
    // document.getElementById('update_title').addEventListener('input', function() {	
    // InputValidate('update_title');	
    // });	
      
    // document.getElementById('subtitle').addEventListener('input', function() {	
    // InputValidate('subtitle}}');	
    // });	


    document.addEventListener('DOMContentLoaded', function () {
      document.getElementById('updateNewsSuccessModal').addEventListener('hidden.bs.modal', () => location.reload());
      document.getElementById('addNewsSuccessModal').addEventListener('hidden.bs.modal', () => location.reload());
      document.getElementById('delNewsSuccessModal').addEventListener('hidden.bs.modal', () => location.reload());
      
      document.querySelectorAll('.news-delete').forEach(function (del) {
        const news_id = del.getAttribute('data-news-id');
        const deleteNews = document.getElementById('deleteNews' + news_id);
        const deleteEmployeeBtn = deleteNews.querySelector('button[type="submit"]');
        const loadingModal = new bootstrap.Modal(document.getElementById('loadingModal'));

        deleteEmployeeBtn.addEventListener('click', event => {
          event.preventDefault();
          // event.stopPropagation();

          fetch('/news/del', {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json'
              },
              body: JSON.stringify({ 'news_id': news_id })
          })
          .then(response => response.json())
          .then(data => {
              if (data.status == 1) {
                  // Show delProfileSuccessModal modal if update is successful
                  deleteNews.style.display = 'none';
                  loadingModal.show();
                  setTimeout(() => {
                    loadingModal.hide();
                    new bootstrap.Modal(document.getElementById('delNewsSuccessModal')).show();
                }, 1000);
              }
              else {
                  alert("Invalid request");
                  // location.reload(); // Reload the page on failure
              }
          })
          .catch(error => console.error('Error:', error));
        });
      })
      document.querySelectorAll('.news-update').forEach(function (update) {
        const news_id = update.getAttribute('data-news-id')
        const updateNewsForm = document.getElementById('updateNewsForm' + news_id);

        updateNewsForm.addEventListener('submit', event => {
          if (!updateNewsForm.checkValidity()) return // Stop further execution if form is invalid
          event.preventDefault();
          // event.stopPropagation();
          const formData = new FormData(updateNewsForm);

          fetch('/news/update', {
              method: 'POST',
              body: formData
          })
          .then(response => response.json())
          .then(data => {
              if (data.status == 1) {
                  console.log(data.status)
                  // Show updateNewsSuccess modal if update is successful
                  // console.log(data)
                  new bootstrap.Modal(document.getElementById('updateNewsSuccessModal')).show();
              }
              else {
                  alert("Invalid request");
                  // location.reload(); // Reload the page on failure
              }
          })
          .catch(error => console.error('Error:', error));
        });
      })

      document.querySelectorAll('.news-add').forEach(function (add) {
        const news_id = add.getAttribute('data-news-id')
        const addNewsForm = document.getElementById('addNewsForm' + news_id);

        addNewsForm.addEventListener('submit', event => {
          if (!addNewsForm.checkValidity()) return // Stop further execution if form is invalid
          event.preventDefault();
          // event.stopPropagation();
          const formData = new FormData(addNewsForm);
          // console.log(formData)
          fetch('/news/add', {
              method: 'POST',
              body: formData
          })
          .then(response => response.json())
          .then(data => {
              if (data.status == 1) {
                  console.log(data.status)
                  // Show updateNewsSuccess modal if update is successful
                  // console.log(data)
                  new bootstrap.Modal(document.getElementById('addNewsSuccessModal')).show();
              }
              else {
                  alert("Invalid request");
                  // location.reload(); // Reload the page on failure
              }
          })
          .catch(error => console.error('Error:', error));
        });
      })

    });
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="offcanvas"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    });
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="modal"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    });
  </script>
  <script>
    function previewImage(event, news_id) {
        var reader = new FileReader();
        reader.onload = function() {
            var output = document.getElementById('imagePreview' + news_id);
            output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
    }
</script>
<script>
  function previewCoverImage(event) {
      var reader = new FileReader();
      reader.onload = function() {
          var output = document.getElementById('imageCoverPreview');
          output.src = reader.result;
      };
      reader.readAsDataURL(event.target.files[0]);
  }
</script>
{% endblock %}