{% extends "_consumer-base.html" %}

{% block title %}Order History{% endblock %}

{% block navbar %}
    {% with is_order_history='1' %}
        {% include "components/layout/header/Nav1.html" %}
    {% endwith %}
{% endblock %}

{% block content %}
<style>
    .search-bar {
            border-radius: 25px;
            margin-bottom: 20px;
        }
    .btn-rounded {
        border-radius: 25px;
    }

  .gray-icon {
        color: gray !important;
    }
    #orders-table a {
        padding:.8rem 1rem !important
    }

</style>

<section class="main-content">
    <div class="container-fluid py-5 mt-5">
        <div class="container py-5 text-center">
            <div class="account-header d-flex justify-content-center align-items-center py-4 mb-4">
                <i class="fas fa-history fa-3x me-3"></i> 
                <h1 class="mb-2">Order History</h1>
            </div>
            <form id="orderHistorySearch" method="POST" action="/consumer/order/history">
                <div class="row mb-3 d-flex align-items-center">
                    <div class="col-md-4 d-flex align-items-center">
                        <label for="searchOrder" class="form-label me-3 pb-2">SEARCH</label>
                        <input type="number" class="form-control search-bar" id="searchOrder" placeholder="ORDER REFERENCE NUMBER">
                    </div>
                    <div class="col-md-3 d-flex align-items-center">
                        <label for="startDate" class="form-label me-3 pb-2">From</label>
                        <input type="date" class="form-control search-bar" id="fromDate">
                    </div>
                    <div class="col-md-3 d-flex align-items-center">
                        <label for="endDate" class="form-label me-3 pb-2">To</label>
                        <input type="date" class="form-control search-bar" id="toDate">
                    </div>
                    <div class="col-md-2 p-2">
                        <button class="btn btn-primary border-0 btn-rounded justify-content-end " style="top: 2; right: 0;" id="searchButton">Search</button>
                    </div>
                </div>
            </form>
        
            <div id="orders-table" class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Order Date</th>
                            <th>Delivery Date</th>
                            <th>Total Cost</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for order in orders %}
                        <!-- Example Order Row -->
                        <tr>
                            <td>{{order.order_id}}</td>
                            <td>{{order.order_date}}</td>
                            <td>{{order.delivery_date}}</td>
                            <td>{{order.total}}</td>
                            <td>{{order.status}}</td>
                            <td>
                                <a data-bs-toggle="oh"  href="{{ url_for('orderDetail', order_id = order.order_id ) }}"   role="button"   class="order-view" role="button" title="Order Details">
                                    <i class="far fa-list-alt fa-lg me-1"></i>
                                <a data-bs-toggle="oh" href="{{ url_for('cart') }}"  class="reorder" role="button" data-order-id="{{order.order_id}}" title="Empty Cart and Reorder">
                                    <i class="fas s fa-sync-alt fa-lg me-1"></i>
                                </a>
                                {% if order.status == 'Pending' %}
                                    <a data-bs-toggle="oh" class="order-del" role="button" data-order-id="{{order.order_id}}" title="Cancel Order">
                                        <i class="fas fa-ban fa-lg me-1" ></i>
                                    </a>
                                {% else %}
                                    <a data-bs-toggle="oh" style="cursor: default" title="Cancel Order">
                                        <i class="fas fa-ban fa-lg me-1 gray-icon"></i>
                                    </a>
                                {% endif %}


                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>








            {% with
                btn_show = 0,
                bg_color = '#dc3545',
                bg_color2 = '#dc3545',
                modal_id = 'deleteMemberModal',
                title = 'Cancel Confirmation',
                msg = 'Are you sure you want to cancel this order? Upon cancellation, the charges will be automatically refunded to your card.'
              %}
                {% include "components/elements/delConfirm.html" %}
            {% endwith %}

            {% with
                btn_show = 0,
                bg_color = '#3399ff',
                bg_color2 = '#3399ff',
                modal_id = 'reorderModal',
                title = 'Reorder Confirmation',
                msg = 'Are you sure you want to place this order again?'
              %}
                {% include "components/elements/delConfirm.html" %}
            {% endwith %}

        <!-- delProfileSuccessModal -->
        {% with
            btn_show = 0,
            modal_id = 'delProfileSuccessModal',
            bg_color = '#3399ff',
            title = 'Canceled Successfully',
            msg = 'Your order has been successfully canceled'
        %}
            {% include "components/elements/updateSuccess.html" %}
        {% endwith %}


    {% include "components/elements/loadingModal.html" %}
</section>

{% endblock %}

{% block script %}
  {% include "components/elements/InputValidate.html" %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const orderDel = document.querySelectorAll('.order-del');
        const reorder = document.querySelectorAll('.reorder');
        const loadingModal = new bootstrap.Modal(document.getElementById('loadingModal'));
        document.getElementById('delProfileSuccessModal').addEventListener('hidden.bs.modal', () => location.reload());

        orderDel.forEach(function (del) {
            // Add click event listener to each delete button
            del.addEventListener('click', function (event) {
                event.preventDefault();
                const order_id = del.getAttribute('data-order-id');

                // Show delConfirm modal when delete button is clicked
                const deleteMemberModal = new bootstrap.Modal(document.getElementById('deleteMemberModal'));
                const confirmButton = document.querySelector('#deleteMemberModal .modal-footer .btn-primary');
                deleteMemberModal.show();

                // Add click event listener to the confirmButton
                confirmButton.addEventListener('click', function () {
                    deleteMemberModal.hide();
                    loadingModal.show();

                    fetch('/order/del', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ 'order_id': order_id })
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.status) {
                                loadingModal.hide();
                                new bootstrap.Modal(document.getElementById('delProfileSuccessModal')).show();
                            }
                            else {
                                loadingModal.hide();
                                alert("Invalid request");
                            }
                        })
                        .catch(error => console.error('Error:', error));
                });
            });
        });

        reorder.forEach(function (re) {
            // Add click event listener to each delete button
            re.addEventListener('click', function (event) {
                event.preventDefault();
                const order_id = re.getAttribute('data-order-id');
                // console.log(order_id)

                // Show delConfirm modal when delete button is clicked
                const reorderModal = new bootstrap.Modal(document.getElementById('reorderModal'));
                const confirmButton = document.querySelector('#reorderModal .modal-footer .btn-primary');
                reorderModal.show();

                // Add click event listener to the confirmButton
                confirmButton.addEventListener('click', function () {
                    reorderModal.hide();
                    loadingModal.show();

                    fetch('/order/reorder', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ 'order_id': order_id })
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.status) {
                                loadingModal.hide();
                                if (data.cart) {
                                localStorage.setItem('cart', data.cart);
                                }
                                window.location.href = data.message;
                            }
                            else {
                                loadingModal.hide();
                                alert("Invalid request");
                            }
                        })
                        .catch(error => console.error('Error:', error));
                });
            });
        });


        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="oh"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    });
  </script>
{% endblock %}


