{% extends "_consumer-base.html" %}

{% block title %}Order History{% endblock %}

{% block navbar %}
    {% with is_order_history='1' %}
        {% include "components/layout/header/Nav1.html" %}
    {% endwith %}
{% endblock %}

{% block content %}
<style>
    .search-bar {
            border-radius: 25px;
            margin-bottom: 20px;
        }
    .btn-rounded {
        border-radius: 25px;
    }

  .gray-icon {
        color: gray !important;
    }
    #orders-table a {
        padding:.8rem 1rem !important
    }

</style>

<section class="main-content">
    <div class="container-fluid py-5 mt-5">
        <div class="container py-5 text-center">
            <div class="account-header d-flex justify-content-center align-items-center py-4 mb-4">
                <i class="fas fa-history fa-3x me-3"></i> 
                <h1 class="mb-2">Order History</h1>
            </div>
            <form id="orderHistorySearch" method="POST" action="/order/history">
                <div class="row mb-3 d-flex align-items-center">
                    <div class="col-md-4 d-flex align-items-center py-2">
                        <label for="searchOrder" class="form-label me-3 pb-2">SEARCH</label>
                        <input type="number" class="form-control search-bar" id="searchOrder" placeholder="ORDER REFERENCE NUMBER">
                    </div>
                    <div class="col-md-1 d-flex align-items-center pe-2">
                        <p> OR&nbsp; SEARCH</p>
                    </div>
                    <div class="col-md-2 d-flex align-items-center py-2">
                        <label for="startDate" class="form-label me-3 pb-2">From</label>
                        <input type="date" class="form-control search-bar" id="startDate">
                    </div>
                    <div class="col-md-2 d-flex align-items-center py-2">
                        <label for="endDate" class="form-label me-3 pb-2">To</label>
                        <input type="date" class="form-control search-bar" id="endDate">
                    </div>
                    <div class="col-md-3 m-0">
                        <button class="btn btn-primary border-0 btn-rounded justify-content-end m-0" type="button" style="top: 2; right: 0;" id="searchButton">Search</button>
                        <button class="btn btn-secondary btn-rounded mx-2" id="clearButton">Clear</button>
                    </div>
                </div>
            </form>
        
            <div id="orders-table" class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Order Date</th>
                            <th>Delivery Date</th>
                            <th>Total Cost</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="orderTableBody" class="table-group-divider">
                        {% for order in orders %}
                        <tr>
                            <td>{{order.order_id}}</td>
                            <td>{{order.order_date}}</td>
                            {% if order.delivery_date %}
                                <td>{{order.delivery_date}}</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            <td>{{order.total + order.shipping_fee}}</td>
                            <td>{{order.status}}</td>
                            <td>
                                <a data-bs-toggle="oh"  href="{{ url_for('orderDetail', order_id = order.order_id ) }}"   role="button"   class="order-view" role="button" title="Order Details">
                                    <i class="far fa-list-alt fa-lg me-1"></i>
                                <a data-bs-toggle="oh" href="{{ url_for('cart') }}"  class="reorder" role="button" data-order-id="{{order.order_id}}" title="Reorder">
                                    <i class="fas s fa-sync-alt fa-lg me-1"></i>
                                </a>
                                {% if order.status == 'Pending' %}
                                    <a data-bs-toggle="oh" class="order-del" role="button" data-order-id="{{order.order_id}}" title="Cancel Order">
                                        <i class="fas fa-ban fa-lg me-1" ></i>
                                    </a>
                                {% else %}
                                    <a data-bs-toggle="oh" style="cursor: default" title="Cancel Order">
                                        <i class="fas fa-ban fa-lg me-1 gray-icon"></i>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>








            {% with
                btn_show = 0,
                bg_color = '#dc3545',
                bg_color2 = '#dc3545',
                modal_id = 'deleteMemberModal',
                title = 'Cancel Confirmation',
                msg = 'Are you sure you want to cancel this order? Upon cancellation, the charges will be automatically refunded to your card.'
              %}
                {% include "components/elements/delConfirm.html" %}
            {% endwith %}

            {% with
                btn_show = 0,
                bg_color = '#3399ff',
                bg_color2 = '#3399ff',
                modal_id = 'reorderModal',
                title = 'Reorder Confirmation',
                msg = 'Are you sure you want to place this order again?'
              %}
                {% include "components/elements/delConfirm.html" %}
            {% endwith %}

        <!-- delProfileSuccessModal -->
        {% with
            btn_show = 0,
            modal_id = 'delProfileSuccessModal',
            bg_color = '#3399ff',
            title = 'Canceled Successfully',
            msg = 'Your order has been successfully canceled'
        %}
            {% include "components/elements/updateSuccess.html" %}
        {% endwith %}


    {% include "components/elements/loadingModal.html" %}
</section>

{% endblock %}

{% block script %}
  {% include "components/elements/InputValidate.html" %}
<script>
// validation
document.addEventListener('DOMContentLoaded', function () {
        const startDateInput = document.getElementById('startDate');
        const endDateInput = document.getElementById('endDate');
  
        // Function to set the maximum value for the end date to today
        function setMaxEndDate() {
            const today = new Date().toISOString().split('T')[0]; // Get today's date in YYYY-MM-DD format
            endDateInput.max = today;
        }

      // Adjust the minimum value of the end date when the start date changes
      startDateInput.addEventListener('change', function () {
          endDateInput.min = startDateInput.value; // Make sure the end date is no earlier than the start date
          if (endDateInput.value < startDateInput.value) {
              endDateInput.value = startDateInput.value; // Automatically adjust the end date to a valid value
          }
      });

        // Set the maximum end date to today
        setMaxEndDate();

        // Prevent the user from selecting a future date for the start date
        startDateInput.addEventListener('input', function () {
        if (startDateInput.value > endDateInput.max) {
            startDateInput.value = endDateInput.max; // Adjust to today's date if a future date is selected
        }
        });

        // Prevent the user from selecting a future date for the end date
        endDateInput.addEventListener('input', function () {
        if (endDateInput.value > endDateInput.max) {
            endDateInput.value = endDateInput.max; // Adjust to today's date if a future date is selected
        }
        });

  });


    document.addEventListener('DOMContentLoaded', function () {
        const orderDel = document.querySelectorAll('.order-del');
        const reorder = document.querySelectorAll('.reorder');
        const loadingModal = new bootstrap.Modal(document.getElementById('loadingModal'));
        document.getElementById('delProfileSuccessModal').addEventListener('hidden.bs.modal', () => location.reload());

        orderDel.forEach(function (del) {
            // Add click event listener to each delete button
            del.addEventListener('click', function (event) {
                event.preventDefault();
                const order_id = del.getAttribute('data-order-id');

                // Show delConfirm modal when delete button is clicked
                const deleteMemberModal = new bootstrap.Modal(document.getElementById('deleteMemberModal'));
                const confirmButton = document.querySelector('#deleteMemberModal .modal-footer .btn-primary');
                deleteMemberModal.show();

                // Add click event listener to the confirmButton
                confirmButton.addEventListener('click', function () {
                    deleteMemberModal.hide();
                    // loadingModal.show();

                    fetch('/order/del', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ 'order_id': order_id })
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.status) {
                                loadingModal.hide();
                                new bootstrap.Modal(document.getElementById('delProfileSuccessModal')).show();
                            }
                            else {
                                loadingModal.hide();
                                alert("Invalid request");
                            }
                        })
                        .catch(error => console.error('Error:', error));
                });
            });
        });

        reorder.forEach(function (re) {
            // Add click event listener to each delete button
            re.addEventListener('click', function (event) {
                event.preventDefault();
                const order_id = re.getAttribute('data-order-id');
                // console.log(order_id)

                // Show delConfirm modal when delete button is clicked
                const reorderModal = new bootstrap.Modal(document.getElementById('reorderModal'));
                const confirmButton = document.querySelector('#reorderModal .modal-footer .btn-primary');
                reorderModal.show();

                // Add click event listener to the confirmButton
                confirmButton.addEventListener('click', function () {
                    reorderModal.hide();
                    loadingModal.show();

                    fetch('/order/reorder', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ 'order_id': order_id })
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.status) {
                                loadingModal.hide();
                                if (data.cart) {
                                localStorage.setItem('cart', data.cart);
                                }
                                window.location.href = data.message;
                            }
                            else {
                                loadingModal.hide();
                                alert("Invalid request");
                            }
                        })
                        .catch(error => console.error('Error:', error));
                });
            });
        });


        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="oh"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    });

// Search by order reference number 
const orderReferenceInput = document.getElementById('searchOrder');
const orderTableBody = document.getElementById('orderTableBody');

orderReferenceInput.addEventListener('input', function () {
    const reference = orderReferenceInput.value;
    const rows = orderTableBody.getElementsByTagName('tr');
    let hasVisibleRows = false;

    // Remove any existing No matching row
    Array.from(rows).forEach(row => {
        if (row.id === 'noResultsRow') {
            row.remove();
        }
    });

    Array.from(rows).forEach(row => {
        const referenceCell = row.getElementsByTagName('td')[0]; 
        const referenceText = referenceCell.textContent;

        if (referenceText.includes(reference)) {
            row.style.display = '';
            hasVisibleRows = true;
        } else {
            row.style.display = 'none';
        }
    });

    // Handle no results case
    if (!hasVisibleRows) {
            const noResultsRow = document.createElement('tr');
            noResultsRow.id = 'noResultsRow';
            const noResultsCell = document.createElement('td');
            noResultsCell.colSpan = 5;
            noResultsCell.className = 'text-center';
            noResultsCell.textContent = 'No matching orders found';
            noResultsRow.appendChild(noResultsCell);
            orderTableBody.appendChild(noResultsRow);
        }


});


// Search by time period
const startDateInput = document.getElementById('startDate');
const endDateInput = document.getElementById('endDate');

function filterRows() {
    const startDate = startDateInput.value;
    const endDate = endDateInput.value;
    const rows = orderTableBody.getElementsByTagName('tr');
    let hasVisibleRows = false;
    
    // Remove any existing No matching row
    Array.from(rows).forEach(row => {
        if (row.id === 'noResultsRow') {
            row.remove();
        }
    });

    Array.from(rows).forEach(row => {
        const cells = row.getElementsByTagName('td');
        const orderDateCell = cells[1].textContent;
        const orderDate = new Date(orderDateCell);

        let matches = true;
        if (startDate && orderDate < new Date(startDate)) {
            matches = false;
        }

        if (endDate && orderDate > new Date(endDate)) {
            matches = false;
        }

        if (matches) {
            row.style.display = '';
            hasVisibleRows = true;
        } else {
            row.style.display = 'none';
        }
    });

    // Handle no results case
    if (!hasVisibleRows) {
        const noResultsRow = document.createElement('tr');
        noResultsRow.id = 'noResultsRow';
        const noResultsCell = document.createElement('td');
        noResultsCell.colSpan = 5;
        noResultsCell.className = 'text-center';
        noResultsCell.textContent = 'No matching orders found';
        noResultsRow.appendChild(noResultsCell);
        orderTableBody.appendChild(noResultsRow);
    }
}
// filter info after click button
searchButton.addEventListener('click',filterRows);

  </script>
{% endblock %}


