{% extends "_consumer-base.html" %}

{% block title %}Profile{% endblock %}

{% block navbar %}
    {% with is_profile_consumer='1' %}
        {% include "components/layout/header/Nav1.html" %}
    {% endwith %}
{% endblock %}

{% block content %}
<section>
    <div id="profile" class="container-fluid py-5 mt-5">
        <div class="container py-5 text-center">
            <div class="account-header d-flex justify-content-center align-items-center py-4" style="background: none;">
                <i class="fas fa-user-circle fa-3x me-3"></i>
                <h1 class="mb-0">My Account</h1>
            </div>
            <form id="updateConsumerProfileForm" class="mx-auto needs-validation" style="max-width: 1000px;" novalidate>
                <div class="accordion" id="profileAccordion">
                    <!-- Personal Details -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingPersonalDetails">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePersonalDetails" aria-expanded="true" aria-controls="collapsePersonalDetails">
                                <i class="fas fa-user-circle me-2"></i> My Details
                            </button>
                        </h2>
                        <div id="collapsePersonalDetails" class="accordion-collapse collapse show" aria-labelledby="headingPersonalDetails">
                            <div class="accordion-body">
                              
                                <div class="row mb-4">
                                    <div class="col text-center">
                                        
                                        <div>
                                            <img id="profileImage" style="height: 12rem !important; cursor: pointer;" src="{{ url_for('static', filename='images/' + profile.image) }}" alt="Profile Picture" data-bs-toggle="updateImg" title="Click to update picture">
                                            <input type="file" class="form-control w-50 mx-auto" id="profilePicture" name="profilePicture" style="display: none;">
                                        </div>
                                    </div>
                                </div>
                                <div class="row g-0">
                                    <div class="col-md-6">
                                        <div class="row mb-4">
                                            <label for="firstName" class="col-sm-4 col-form-label text-start">First Name<sup>*</sup></label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" id="firstName" name="given_name" value="{{profile.given_name}}" pattern="[A-Za-z]{2,35}">
                                                <div class="invalid-feedback">Please provide a valid first name (letters only, up to 35 characters).</div>
                                                
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <label for="phone" class="col-sm-4 col-form-label text-start">Phone<sup>*</sup></label>
                                            <div class="col-sm-7">
                                                <input type="tel" class="form-control" id="phone" name="phone" value="{{profile.phone}}" pattern="\+?[0-9\s\-]{7,13}">
                                                <div class="invalid-feedback">Please provide a valid phone number (7-13 digits, spaces and dashes allowed).</div>
                                               
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <label for="oldPassword" class="col-sm-4 col-form-label text-start">Old Password</label>
                                            <div class="col-sm-7">
                                                <div class="input-group">
                                                    <input type="password" class="form-control" id="oldPassword" name="old_password" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$">
                                                    <button class="btn btn-outline-secondary" type="button" id="showOldPassword">
                                                        <i class="fas fa-eye"></i>
                                                    </button>
                                                    <div class="invalid-feedback">Password must be at least 8 characters long and include at least one number and one special character.</div>
                                                </div>
                                            </div>
                                        </div>
                                        {% if profile.user_type == 'Business' %}
                                        <div class="row mb-4">
                                            <label for="accountLimit" class="col-sm-4 col-form-label text-start">Account Limit</label>
                                            <div class="col-sm-7">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" style="color: #81C408;" id="accountLimit" name="accountLimit" value="500" disabled>
                                                    <button type="button" class="btn btn-secondary">Review</button>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% if profile.user_type == 'Residential' and not application_status %}
                                        <div class="text-center mt-5">
                                            <a href="{{ url_for('apply_business_account') }}" class="btn btn-primary">Apply for Business Account</a>
                                        </div>
                                        {% elif profile.user_type == 'Residential' and application_status %}
                                        <div class="text-center mt-5">
                                            <p>Account application status: <strong>{{ application_status }}</strong></p>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-4">
                                            <label for="lastName" class="col-sm-4 col-form-label text-start">Last Name<sup>*</sup></label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" id="lastName" name="lastName" value="{{profile.family_name}}" pattern="[A-Za-z]{2,53}" >
                                                <div class="invalid-feedback">Please provide a valid last name (letters only, up to 35 characters).</div>
                                                
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <label for="myDepot" class="col-sm-4 col-form-label text-start">My Depot<sup>*</sup></label>
                                            <div class="col-sm-7">
                                                <select id="myDepot" name="depot_id" class="form-select">
                                                    <option value="1" {% if profile.depot_id == 1 %}selected{% endif %}>Christchurch</option>
                                                    <option value="2" {% if profile.depot_id == 2 %}selected{% endif %}>Invercargill</option>
                                                    <option value="3" {% if profile.depot_id == 3 %}selected{% endif %}>Wellington</option>
                                                    <option value="4" {% if profile.depot_id == 4 %}selected{% endif %}>Hamilton</option>
                                                    <option value="5" {% if profile.depot_id == 5 %}selected{% endif %}>Auckland</option>
                                                    <option value="6" {% if profile.depot_id == 6 %}selected{% endif %}>NZ</option>
                                                </select>
                                                <div class="invalid-feedback">Please select a city.</div>
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <label for="newPassword" class="col-sm-4 col-form-label text-start">New Password</label>
                                            <div class="col-sm-7">
                                                <div class="input-group">
                                                    <input type="password" class="form-control" id="newPassword" name="new_password" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$">
                                                    <button class="btn btn-outline-secondary" type="button" id="showNewPassword">
                                                        <i class="fas fa-eye"></i>
                                                    </button>
                                                    <div class="invalid-feedback">Password must be at least 8 characters long and include at least one number and one special character.</div>
                                                </div>
                                            </div>
                                        </div>
                                        {% if profile.user_type == 'Business' %}
                                        <div class="row mb-4">
                                            <label for="creditBalance" class="col-sm-4 col-form-label text-start">Credit Balance</label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" style="color: #FFB524;" id="creditBalance" name="creditBalance" value="300" disabled>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary mt-3">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Shipping Address -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingShippingAddress">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseShippingAddress" aria-expanded="false" aria-controls="collapseShippingAddress">
                                <i class="fas fa-map-marker-alt me-2"></i> Shipping Address
                            </button>
                        </h2>
                        <div id="collapseShippingAddress" class="accordion-collapse collapse" aria-labelledby="headingShippingAddress">
                            <div class="accordion-body">
                                <div class="row mb-4">
                                    <label for="addressLine1" class="col-sm-4 col-form-label text-start">Address Line 1<sup>*</sup></label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="addressLine1" name="address" value="{{profile.address}}" pattern=".{1,80}">
                                        <div class="invalid-feedback">Please provide a valid address (up to 80 characters).</div>
                                    </div>
                                </div>

                                <div class="row mb-4">
                                    <label for="city" class="col-sm-4 col-form-label text-start">City<sup>*</sup></label>
                                    <div class="col-sm-7">
                                        <input 
                                            type="text" class="form-control"
                                            value="{% if profile.depot_id == 1 %}Christchurch{% elif profile.depot_id == 2 %}Invercargill{% elif profile.depot_id == 3 %}Wellington{% elif profile.depot_id == 4 %}Hamilton{% elif profile.depot_id == 5 %}Auckland{% elif profile.depot_id == 6 %}NZ{% endif %}"                                            disabled>         
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <label for="postalCode" class="col-sm-4 col-form-label text-start">Postal Code<sup>*</sup></label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="postalCode" name="postcode" value="{{profile.postcode}}" pattern="\d{4}" >
                                        <div class="invalid-feedback">Please provide a valid postal code (4 digits).</div>
                                    </div>
                                </div>                   
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary mt-3">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Payment Details -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingPaymentDetails">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePaymentDetails" aria-expanded="false" aria-controls="collapsePaymentDetails">
                                <i class="fas fa-credit-card me-2"></i> Payment Method 
                            </button>
                        </h2>
                        <div id="collapsePaymentDetails" class="accordion-collapse collapse" aria-labelledby="headingPaymentDetails">
                            <div class="accordion-body">
                                <div class="row mb-4">
                                    <label for="cardHolderName" class="col-sm-4 col-form-label text-start">Card Holder's Name<sup>*</sup></label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="cardHolderName" name="cardHolderName" pattern="[A-Za-z\s]{1,50}" >
                                        <div class="invalid-feedback">Please provide a valid card holder's name (letters only, up to 70 characters).</div>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <label for="cardNumber" class="col-sm-4 col-form-label text-start">Card Number<sup>*</sup></label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="cardNumber" name="cardNumber" pattern="\d{13,19}" >
                                        <div class="invalid-feedback">Please provide a valid card number (13-19 digits).</div>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <label for="expiryDate" class="col-sm-4 col-form-label text-start">Expiry Date<sup>*</sup></label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="expiryDate" name="expiryDate" placeholder="MM/YY" pattern="^(0[1-9]|1[0-2])\/?([0-9]{2})$" >
                                        <div class="invalid-feedback">Please provide a valid expiry date (MM/YY).</div>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <label for="cvv" class="col-sm-4 col-form-label text-start">CVV<sup>*</sup></label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="cvv" name="cvv" pattern="\d{3,4}" >
                                        <div class="invalid-feedback">Please provide a valid CVV (3-4 digits).</div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary mt-3">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Update Success Message -->
    <div class="p-3">
        {% with
            btn_show = 0,
            btn_text = 'Profile Update Success',
            bg_color = '#81C408',
            title = 'Profile Update Success',
            msg = 'Your profile has been successfully updated'
        %}
            {% include "components/elements/updateSuccess.html" %}
        {% endwith %}
    </div>
</section>

<style>
    .account-header {
        padding: 10px 20px;
        border-radius: 10px;
        background: linear-gradient(to right, #e7f1ff, #f8f9fa);
        display: inline-block;
    }
    .account-header h1 {
        display: inline-block;
        margin: 0;
        padding-left: 10px;
        font-size: 2rem;
    }
    .form-label {
        font-weight: bold;
    }
    .accordion-button {
        background-color: #f8f9fa;
        color: #000;
    }
    .accordion-button:focus {
        box-shadow: none;
    }
    .accordion-button:not(.collapsed) {
        color: #007bff;
        background-color: #e7f1ff;
    }
    #updateConsumerProfileForm .btn-primary {
        background-color: #81C408 !important;
        border-color: #81C408 !important;
    }
    #updateConsumerProfileForm .btn-primary:hover {
        background-color: #ffb524 !important;
        border-color: #ffb524 !important;
    }
    .form-control {
        max-width: 400px;
    }
    .col-form-label {
        padding-left: 2rem !important;
    }
    .row.mb-2 .col-sm-7 {
        padding-left: 10px;
    }
    form .row .col-sm-4 {
        padding-right: 5px;
    }
    form .row .col-sm-7 {
        padding-left: 5px;
    }
</style>
{% endblock %}

{% block script %}
  {% include "components/elements/InputValidate.html" %}

<script>
    document.getElementById('profileImage').addEventListener('click', function () {
        document.getElementById('profilePicture').click();
    });

    document.getElementById('profilePicture').addEventListener('change', function () {
        const file = this.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById('profileImage').src = e.target.result;
            };
            reader.readAsDataURL(file);
        }
    });
    // Show/Hide Password
    document.getElementById('showOldPassword').addEventListener('click', function () {
        togglePasswordVisibility('oldPassword');
    });

    document.getElementById('showNewPassword').addEventListener('click', function () {
        togglePasswordVisibility('newPassword');
    });

    function togglePasswordVisibility(inputId) {
        var passwordInput = document.getElementById(inputId);
        var buttonIcon = document.querySelector('#' + inputId + ' + .btn i');

        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            buttonIcon.classList.remove('fa-eye');
            buttonIcon.classList.add('fa-eye-slash');
        } else {
            passwordInput.type = 'password';
            buttonIcon.classList.remove('fa-eye-slash');
            buttonIcon.classList.add('fa-eye');
        }
    }
</script>
<script>
    (function () {
        'use strict';
        var inputs = [
            'firstName',
            'lastName',
            'phone',
            'myDepot',
            'addressLine1',
            'newPassword',
            'oldPassword',
            'postalCode',
            'cardHolderName',
            'cvv'
        ];

        inputs.forEach(function (id) {
            document.getElementById(id).addEventListener('input', function () {
                InputValidate(id);
            });
        });


        // Credit Card Number Formatting and Validation
        document.getElementById('cardNumber').addEventListener('input', formatCreditCardNumber);

        // Expiration Date Formatting and Validation
        document.getElementById('expiryDate').addEventListener('input', formatExpirationDate);

        function formatCreditCardNumber(event) {
            let input = event.target;
            let value = input.value.replace(/\D/g, ''); // Remove non-numeric characters

            if (value.length > 16) {
                value = value.slice(0, 16); // Limit input to 16 digits
            }

            value = value.replace(/(\d{4})(?=\d)/g, '$1-'); // Add hyphen after every four digits
            input.value = value;

            if (value.length < 16) {
                input.setCustomValidity('Credit card number must be 16 digits long');
                input.classList.add('is-invalid');
            } else {
                input.setCustomValidity('');
                input.classList.remove('is-invalid');
            }
        }

        function formatExpirationDate(event) {
            let input = event.target;
            let currentDate = new Date();
            let currentYear = currentDate.getFullYear() % 100; // Get last two digits of current year
            let currentMonth = currentDate.getMonth() + 1; // Get current month
            let value = input.value.replace(/\D/g, ''); // Remove non-numeric characters
            let maxYear = currentYear + 5; // Max five years in future
            let maxMonth = 12; // Max month is 12

            if (value.length > 4) {
                value = value.slice(0, 4); // Limit input to 4 characters
            }

            value = value.replace(/^(\d{2})(\d{0,2})/, '$1/$2'); // Add slash after first two digits
            input.value = value;

            let inputYear = parseInt(value.slice(3, 5), 10);
            let inputMonth = parseInt(value.slice(0, 2), 10);

            if (inputYear > maxYear || inputMonth > maxMonth || inputYear < currentYear || (inputYear === currentYear && inputMonth < currentMonth)) {
                input.setCustomValidity('Expiration date must be in the future');
                input.classList.add('is-invalid');
            } else {
                input.setCustomValidity('');
                input.classList.remove('is-invalid');
            }
        }
    })();
</script>
<script>
    let user_id = "{{ profile.user_id }}"
    let newUpdateProfileData = {};
    let differentUpdateStaffData = {};

    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('updateSuccessModal').addEventListener('hidden.bs.modal', () => location.reload());

        const updateForms = document.querySelectorAll('form.needs-validation');
        updateForms.forEach(form => {
            const formData = new FormData(form);
            const formDataObject = Object.fromEntries(formData.entries());
            const sections = form.querySelectorAll('.accordion-item');

            sections.forEach(section => {
                const inputs = section.querySelectorAll('input, select');
                const submitButton = section.querySelector('button[type="submit"]');

                const enableSubmit = () => submitButton.classList.remove('disabled');
                const disableSubmit = () => submitButton.classList.add('disabled');

                let initialData = {};
                inputs.forEach(input => {
                    initialData[input.name] = input.value;
                });

                disableSubmit();

                inputs.forEach(input => {
                    input.addEventListener('input', () => {
                        let hasChanges = false;
                        inputs.forEach(input => {
                            if (initialData[input.name] !== input.value) {
                                hasChanges = true;
                            }
                        });

                        if (hasChanges) {
                            enableSubmit();
                        } else {
                            disableSubmit();
                        }
                    });
                });

                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) return; // Stop further execution if form is invalid
                    event.preventDefault();
                    event.stopPropagation();

                    let updatedData = {};
                    inputs.forEach(input => {
                        if (initialData[input.name] !== input.value) {
                            updatedData[input.name] = input.value;
                        }
                    });

                    if (Object.keys(updatedData).length > 0) {
                        updatedData['user_id'] = "{{ profile.user_id }}";
                        fetch('/profile/update', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(updatedData)
                        })
                        .then(response => response.json())
                        .then(data => {
                            if (data.status == 1) {
                                // console.log(data)
                                // Show updateSuccess modal if update is successful
                                new bootstrap.Modal(document.getElementById('updateSuccessModal')).show();
                            } else {
                                alert(data.message);
                                location.reload(); // Reload the page on failure
                            }
                        })
                        .catch(error => console.error('Error:', error));
                    }
                });
            });
        });
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="updateImg"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    });
  </script>
{% endblock %}
