{% extends "_employee-base.html" %}

{% block sidebar %}
  {% with is_profile='1' %}
    {% include "components/layout/Sidebar.html" %}
  {% endwith %}
{% endblock %}

{% block breadcrumb %}
  {% with pageName='Profile' %}
    {% include "components/layout/Breadcrumb2.html" %}
  {% endwith %}
{% endblock %}

{% block content %}
<section class="main-content">
    <!-- Employee Profile Section -->
    <div id="employee-profile" class="card mb-4">
        <div class="card-header profile-header">
        <div class="profile-img-container">
            <img src="{{ url_for('static', filename='images/' + profile.image) }}" alt="Profile Picture" class="profile-img">
        </div>
        <div class="profile-info">
            <h2 class="profile-name">{{profile.given_name}} {{profile.family_name}}</h2>
            <p class="profile-country">
            {% if profile.depot_id == 1 %}
                Christchurch
            {% elif profile.depot_id == 2 %}
                Invercargill
            {% elif profile.depot_id == 3 %}
                Wellington
            {% elif profile.depot_id == 4 %}
                Hamilton
            {% elif profile.depot_id == 5 %}
                Auckland
            {% else %}
                NZ
            {% endif %}
            </p>
            <p class="profile-contact">
            <i class="bi bi-telephone"></i>{{profile.phone}} | 
            <i class="bi bi-envelope"></i>{{session.email}}
            </p>
        </div>
        </div>
        <div class="card-body">
        <!-- Employee details form -->
        <form class="row g-3 needs-validation" novalidate>
            <div class="col-md-6">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstName" value="{{profile.given_name}}">
            <div class="invalid-feedback">Please enter your first name.</div>
            </div>
            <div class="col-md-6">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastName" value="{{profile.family_name}}">
            <div class="invalid-feedback">Please enter your last name.</div>
            </div>
            <div class="col-12">
            <label for="address" class="form-label">Address</label>
            <input type="text" class="form-control" id="address" value="{{profile.address}}">
            <div class="invalid-feedback">Please enter your address.</div>
            </div>
            <div class="col-md-6">
            <label for="phone" class="form-label">Phone Number</label>
            <input type="tel" pattern="\d{10,15}" class="form-control" id="phone" value="{{profile.phone}}">
            <div class="invalid-feedback">Please enter a valid phone number (10-15 digits).</div>
            </div>
            <div class="col-md-6">
            <label for="email" class="form-label">Email Address</label>
            <input type="email" class="form-control" id="email"  value="{{session.email}}" disabled>
            <div class="invalid-feedback">Please enter a valid email address.</div>
            </div>
            <div class="col-md-6">
            <label for="hireDate" class="form-label">Hire Date</label>
            <input type="date" class="form-control" id="hireDate" value="{{profile.hire_date}}">
            <div class="invalid-feedback">Please select your hire date.</div>
            </div>
            <div class="col-md-6">
            <label for="depotName" class="form-label">Depot Name</label>
            <select id="depotName" class="form-select">
                <option value="1" {% if profile.depot_id == 1 %}selected{% endif %}>Christchurch</option>
                <option value="2" {% if profile.depot_id == 2 %}selected{% endif %}>Invercargill</option>
                <option value="3" {% if profile.depot_id == 3 %}selected{% endif %}>Wellington</option>
                <option value="4" {% if profile.depot_id == 4 %}selected{% endif %}>Hamilton</option>
                <option value="5" {% if profile.depot_id == 5 %}selected{% endif %}>Auckland</option>
                <option value="6" {% if profile.depot_id == 6 %}selected{% endif %}>NZ</option>
            </select>
            <div class="invalid-feedback">Please select a depot.</div>
            </div>
            <div class="col-12 text-center">
            <button type="submit" class="btn custom-btn">Save changes</button>
            </div>
        </form>

        <!-- Update Success Message -->
        <div id="update-success" class="container py-5 text-center" style="display: none;">
            <div class="card" style="background-color: #81C408; color: white;">
            <div class="card-body">
                <h2 class="card-title">Update Success</h2>
                <p class="card-text">Your profile has been successfully updated.</p>
                <button class="btn btn-light" onclick="location.reload();">OK</button>
            </div>
            </div>
        </div>
        </div>
    </div>
</section>
{% endblock %}