{% extends "_consumer-base.html" %}

{% block title %}Shop{% endblock %}

{% block navbar %}
  {% with is_shop='1' %}
    {% include "components/layout/header/Nav1.html" %}
  {% endwith %}
{% endblock %}

{% block breadcrumb %}
  {% with pageName='Shop' %}
    {% include "components/layout/Breadcrumb1.html" %}
  {% endwith %}
{% endblock %}


{% block content %}
<section id="shop">
    <!-- Fruits Shop Start-->
    <div class="container-fluid fruite py-5">
        <div class="container py-5">
            <h1 class="mb-4">Fresh fruits shop</h1>
            <div class="row g-4">
                <div class="col-lg-12">
                    <div class="row g-4">
                        <div class="col-xl-3">
                            <div class="input-group w-100 mx-auto d-flex">
                                <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
                                <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                            </div>
                        </div>
                        <div class="col-6"></div>
                        <div class="col-xl-3">
                            <div class="bg-light ps-3 py-3 rounded d-flex justify-content-between mb-4">
                                <label for="fruits">Default Sorting:</label>
                                <select id="fruits" name="fruitlist" class="border-0 form-select-sm bg-light me-3" form="fruitform">
                                    <option value="volvo">Nothing</option>
                                    <option value="saab">Popularity</option>
                                    <option value="opel">Organic</option>
                                    <option value="audi">Fantastic</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row g-4">
                        <div class="col-lg-3">
                            <div class="row g-4">
                                <!-- Categories list; and pass categories=categories -->
                                {% include "components/sections/Categories.html" %}

                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <h4 class="mb-2">Price</h4>
                                        <input type="range" class="form-range w-100" id="rangeInput" name="rangeInput" min="0" max="500" value="0" oninput="amount.value=rangeInput.value">
                                        <output id="amount" name="amount" min-velue="0" max-value="500" for="rangeInput">0</output>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <h4>Additional</h4>
                                        <div class="mb-2">
                                            <input type="radio" class="me-2" id="Categories-1" name="Categories-1" value="Beverages">
                                            <label for="Categories-1"> Organic</label>
                                        </div>
                                        <div class="mb-2">
                                            <input type="radio" class="me-2" id="Categories-2" name="Categories-1" value="Beverages">
                                            <label for="Categories-2"> Fresh</label>
                                        </div>
                                        <div class="mb-2">
                                            <input type="radio" class="me-2" id="Categories-3" name="Categories-1" value="Beverages">
                                            <label for="Categories-3"> Sales</label>
                                        </div>
                                        <div class="mb-2">
                                            <input type="radio" class="me-2" id="Categories-4" name="Categories-1" value="Beverages">
                                            <label for="Categories-4"> Discount</label>
                                        </div>
                                        <div class="mb-2">
                                            <input type="radio" class="me-2" id="Categories-5" name="Categories-1" value="Beverages">
                                            <label for="Categories-5"> Expired</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <h4 class="mb-3">Promotional products</h4>
                                    {% for product in discounted_items %}
                                    <div class="d-flex align-items-center justify-content-start mb-3">
                                        <div class="rounded me-4" style="max-width: 5rem;">
                                            <a href="{{ url_for('shopDetail', product_id=product.product_id) }}">
                                            <img src="{{ url_for('static', filename='images/product/' ~ product.image) }}" class="img-fluid rounded" alt="{{ product.name }}">
                                            </a>                                        
                                        </div>
                                        <div>
                                            <h6 class="mb-2">{{ product.name }}</h6>
                                            <div class="d-flex mb-2">
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="d-flex mb-2">
                                                <h5 class="fw-bold me-2">$ {{ product.discount_price }}</h5>
                                                <h5 class="text-danger text-decoration-line-through">$ {{ product.price }}</h5>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    <div class="d-flex justify-content-center my-4">
                                        <a href="#" class="btn border border-secondary px-4 py-3 rounded-pill text-primary w-100">View More</a>                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="position-relative">
                                        <img src="{{ url_for('static', filename='images/banner2.jpg') }}" class="img-fluid w-100 rounded" alt="">
                                        <!-- <div class="position-absolute" style="top: 50%; right: 10px; transform: translateY(-50%);">
                                            <h3 class="text-secondary fw-bold">Fresh <br> Fruits <br> Banner</h3>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Products list -->
                        <div class="col-lg-9">
                            <div class="row g-4 justify-content-center">
                                <!-- Products list; and pass products=products -->
                                {% include "components/sections/Products.html" %}

                                <!-- Pagination; and pass current_page=current_page, total_pages=total_pages, category=category -->
                                {% with url_page='shop' %}
                                    {% include "components/sections/Pagination1.html" %}
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fruits Shop End-->
</section>

{% endblock %}
{% block script %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    // 获取所有带有data-product-id属性的productCard元素
    const productCards = document.querySelectorAll('[data-product-id]');
    
    // 获取所有的“加入购物车”按钮
    // const addToCartButtons = document.querySelectorAll('.btn-add-to-cart');

    // 遍历每个productCard元素并添加事件监听器
    productCards.forEach(function(productCard) {
        productCard.addEventListener('click', (event) => {
            // 阻止默认的链接跳转行为
            event.preventDefault();

            // 获取当前productCard的data-product-id属性值
            const productId = productCard.getAttribute('data-product-id');
            
            // 构造跳转URL，替换其中的占位符为实际值
            const url = `/product/detail?product_id=${productId}`;
            
            // 跳转到指定页面
            window.location.href = url;
        });
    });

    // 为每个“加入购物车”按钮添加事件监听器
    // addToCartButtons.forEach(function(button) {
    //     button.addEventListener('click', (event) => {
    //         event.stopPropagation(); // 停止事件冒泡
    //         event.preventDefault();  // 阻止链接的默认行为

    //     });
    // });
});
</script>
{% endblock %}
