{% extends "_employee-base.html" %}

{% block breadcrumb %}
  {% with pageName='Page' %}
    {% include "components/layout/Breadcrumb2.html" %}
  {% endwith %}
{% endblock %}

{% block content %}
<!-- Main content -->
<section class="main-content">
  <h1>Workshop</h1>

  <!-- search for the workshop/lesson name -->
  <form class="navbar-form navbar-right row g-3" method="post" action="{{ url_for('member_view_workshop')}}" id="myForm_workshop_search" >
    <div class="col-sm-5">
    <input class="form-control mr-sm-2" type="search" placeholder="Workshop name" aria-label="Search" name="search">
    </div>
    <div class="col-auto">
    <button class="btn btn-outline-success my-2 my-sm-0" type="btn-primary">Search</button>
    </div>
  </form>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col">Date</th>
        <th scope="col">Cost</th>
        <th scope="col"></th>
      </tr>
    </thead>
  
    <tbody>  
      {% for workshop in workshop_list %}    
      <tr>
        <td>{{workshop[9]}}</td>
        <td>{{workshop[0]}}</td>
        <td>{{workshop[1]}}</td>
        <td>{{workshop[5]}}</td>
        <td>{{workshop[7]}}</td>
        <td>
          <div class="d-flex">
            <button class="btn btn-success btn-sm me-2" type="button" data-bs-toggle="offcanvas" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling{{loop.index}}" aria-controls="offcanvasScrolling">Details</button>
            
            <!-- book button modal -->
            <div class="modal fade" id="memberbookModal{{loop.index}}" aria-hidden="true" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Book infomation</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <p>Do you want to book the workshop?</p>
                    <p>Name: {{workshop[0]}}</p>
                    <p>Date: {{workshop[5]}}</p>
                    <p>Cost: {{workshop[7]}}</p>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-target="#exampleModalToggle2{{loop.index}}" data-bs-toggle="modal">Yes</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal fade" id="exampleModalToggle2{{loop.index}}" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Payment</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                <form class="form-horizontal needs-validation" style="margin-top: 40px;" action="/member/view/workshop" method="POST" id="myForm_member_book{{loop.index}}" novalidate>
                  <div class="modal-body">
                    Please pay for the workshop first, the price is: ${{workshop[7]}}
                    <div class="my-3">
                      <div class="form-check">
                        <input name="payment_method" value="credit" type="radio" class="form-check-input" checked required>
                        <label class="form-check-label">Credit card</label>
                      </div>
                      <div class="form-check">
                        <input name="payment_method" value="debit" type="radio" class="form-check-input" required>
                        <label class="form-check-label">Debit card</label>
                      </div>
                    </div>
          
                    <div class="row gy-3">
                      <div class="col-md-6">
                        <label for="cc-name" class="form-label">Name on card</label>
                        <input type="text" class="form-control" id="cc-name" placeholder="John Smith" pattern="[a-zA-Z ]{2,30}" required>
                        <small class="text-body-secondary">Full name as displayed on card</small>
                        <div class="invalid-feedback">Please enter a valid name as displayed on the card</div>
                      </div>
          
                      <div class="col-md-6">
                        <label for="cc-number" class="form-label">Credit card number</label>
                        <input type="text" class="form-control" id="cc-number" placeholder="xxxx-xxxx-xxxx-xxxx" maxlength="19" oninput="formatCreditCardNumber(event)" required>
                        <div class="invalid-feedback">Credit card number is required</div>
                      </div>
                      
                      <div class="col-md-3">
                        <label for="cc-expiration" class="form-label">Expiration</label>
                        <input type="text" class="form-control" id="cc-expiration" placeholder="MM/YY" maxlength="5" oninput="formatExpirationDate(event)" required>
                        <div class="invalid-feedback">Expiration date  is required</div>
                      </div>
          
                      <div class="col-md-3">
                        <label for="cc-cvv" class="form-label">CVV</label>
                        <input type="text" class="form-control" id="cc-cvv" placeholder="233" pattern="^\d{3,4}$" maxlength="4" required>
                        <div class="invalid-feedback">Security code required or the format is not number</div>
                      </div>
                    </div>
                   </div>
                    <input type="hidden" class="form-control" name="workshop_id" value={{workshop[9]}}> 
                    <input type="hidden" class="form-control" name="amount" value={{workshop[7]}}> 
                </form>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" form="myForm_member_book{{loop.index}}">Confirm</button>
                  </div>
                </div>
              </div>
            </div>
            {% set count=[] %}
            {% for capacity in booking_list %}
              {% if capacity[0]==workshop[9] %}
                {% set count = count.append(capacity[0]) %}
              {% endif %}
            {% endfor %}
            
            {% set countmy=[] %}
            {% for my in my_booking %}
              {% if my[0]==workshop[9] %}
                {% set countmy = countmy.append(my[0]) %}
              {% endif %}
            {% endfor %}
         
            {% set remain_capacity = workshop[8] - count|length  %}
            {% if remain_capacity != 0 and countmy == [] %}
      
            <button class="btn btn-primary btn-sm me-2" data-bs-target="#memberbookModal{{loop.index}}" data-bs-toggle="modal">Book</button>
            {% else %}
            <button class="btn btn-primary btn-sm me-2" data-bs-target="#memberbookModal{{loop.index}}" data-bs-toggle="modal" disabled>Book</button>
            {% endif %}
          </div>   
        </td>  
        
      <!-- show the details of the workshop -->
      <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling{{loop.index}}" aria-labelledby="offcanvasScrollingLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Workshop Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ol class="list-group list-group-numbered">
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Name</div>
                {{workshop[0]}}
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Description</div>
                {{workshop[2]}}
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Location</div>
                {{workshop[3]}}
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Address</div>
                {{workshop[4]}}
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Duration</div>              
              </div>
              <span class="badge text-bg-primary rounded-pill">{{workshop[6]}} H</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Capacity</div>
                <!-- calculate the remaining capacity -->
                Workshop capacity: {{workshop[8]}}
              </div>
              <span class="badge text-bg-primary rounded-pill">Only remaining {{remain_capacity}}</span>
            </li>
          </ol>
        </div>
      </div>
      </tr>   
      {% endfor %}    
    </tbody>
  </table>
{% endblock %}

{% block script %}
  <script>
  
    function formatCreditCardNumber(event) {
      let input = event.target;
      let value = input.value.replace(/\D/g, ''); // 移除非数字字符
  
      if (value.length > 16) {
        value = value.slice(0, 16); // 限制输入最大长度为16位数字
      }
  
      value = value.replace(/(\d{4})(?=\d)/g, '$1-'); // 在每4个数字后添加连字符 "-"
      input.value = value;
  
      if (value.length < 18) {
        input.setCustomValidity('Credit card number must be at least 16 characters long');
        input.classList.add('is-invalid');
      } else {
        input.setCustomValidity('');
        input.classList.remove('is-invalid');
      }
    }
  
    function formatExpirationDate(event) {
      let input = event.target;
      let currentDate = new Date();
      let currentYear = currentDate.getFullYear() % 100; // 获取当前年份的后两位数字
      let currentMonth = currentDate.getMonth() + 1; // 获取当前月份
      let value = input.value.replace(/\D/g, ''); // 移除非数字字符
      let maxYear = currentYear + 5; // 当前年份后的五年
      let maxMonth = 12; // 最大月份为12
  
      if (value.length > 4) {
        value = value.slice(0, 4); // 限制输入最大长度为4位数字
      }
  
      value = value.replace(/^(\d{2})(\d{0,2})/, '$1/$2'); // 在输入两个数字后自动添加斜杠 "/"
      input.value = value;
  
      let inputYear = parseInt(value.slice(3, 5), 10);
      let inputMonth = parseInt(value.slice(0, 2), 10);
  
      if (inputYear > maxYear || inputMonth > maxMonth || inputYear < currentYear || (inputYear === currentYear && inputMonth < currentMonth)) {
        input.setCustomValidity('something');
        input.classList.add('is-invalid');
      } else {
        input.setCustomValidity('');
        input.classList.remove('is-invalid');
      }
    }
  
  
  </script>
{% endblock %}

